[2017-10-24 12:03] jdghenderson opened #1 "Remove from Blacklist"
Good Afternoon @ZeroDot1

I just noticed that I am in your blackist (Coinminerz.com & 803mine.com), please can you remove my site as I don't have any browser mining in my code at all.

If you believe I do please can you let me know where so I can take action.

To confirm I am fully against mining code when viewing webpages and do not condone this kind of activity.

This request is following on fro

[2017-10-24 16:03] ZeroDot1 commented on #1
Sorry, my list is there to block mining completely.
For this reason I cannot remove your domains.
The list is used to protect computers and networks from mining.

[2017-10-24 16:06] jdghenderson commented on #1
Hi @ZeroDot1 many thanks for getting back to me. No worries makes perfect sense, I was concerned my site had malcious code that was mining when people viewed so glad to hear it is a general block.

I appreciate your response and good luck with your project as from what I can tell this things on the rise and it's not long until there are more variants of this code.

Thanks and have a great evneing!

[2017-10-24 16:10] ZeroDot1 commented on #1
I will create a list of optional addresses and add their domains there and remove them from the main list.

[2017-10-24 16:12] jdghenderson commented on #1
Sounds like a good idea so then people can discern between the unwanted web mining code domains and clean pool sites. Cheers again!

[2017-10-24 16:35] ZeroDot1 commented on #1
Done! https://github.com/ZeroDot1/CoinBlockerLists/commit/7968cb26b55eeaf47bc585691dfab2e0ab978c14

[2017-10-25 12:28] ZeroDot1 opened #2 "Add miningpoolhub.com"
https://miningpoolhub.com/

[2017-10-25 14:25] ZeroDot1 opened #3 "Add miningspeed.com"
https://pool.miningspeed.com/

[2017-10-25 14:27] ZeroDot1 opened #4 "Add madmining.club"
https://madmining.club/

[2017-10-25 17:00] ZeroDot1 opened #5 "Add suprnova.cc"
https://www.suprnova.cc/

[2017-10-25 17:31] ZeroDot1 opened #6 "Information for finding URLs"
https://www.miningrigrentals.com/pools
https://hushmine.pro/#/
https://miningpoollists.com/hush/
https://en.bitcoin.it/wiki/Comparison_of_mining_pools
https://bitmakler.net/pools
https://forum.ethereum.org/discussion/3659/list-of-pools
https://github.com/kennethreitz/awesome-coins#-coin-mining-pools
https://forum.getmonero.org/13/mining-software-and-pools
https://www.bitcoinmining.com/bitcoin-mini

[2017-10-26 14:14] ZeroDot1 opened #7 "Create a list for administrators"
The list contains all mining domains to block them in different networks to protect networks and users from mining.

[2017-10-26 15:55] ZeroDot1 opened #8 "Remove popads URLs"
I shouldn't be working without reading glasses, I'll fix that.

[2017-10-26 15:59] ZeroDot1 commented on #8
@SMed79 Thanks for the advice.

[2017-10-26 17:31] ZeroDot1 commented on #8
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/1ef381aafd7febcaed38d1ab748a2258ae4518d9

[2017-10-26 17:31] #8 closed

[2017-10-26 17:39] ZeroDot1 commented on #1
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/6e55ba1b015577541cf466e187ba94a22bf336fc

[2017-10-26 17:39] #1 closed

[2017-10-26 18:01] ZeroDot1 opened #9 "Create BrowserList"
This list contains only browser mining addresses.

[2017-10-26 18:02] ZeroDot1 commented on #9
https://github.com/ZeroDot1/CoinBlockerLists/commit/03ad632fd6250106d1c77172ad4fc305a156306b

[2017-10-26 19:26] ZeroDot1 commented on #9
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/b7f65b45760c2e2b8e016bf7497fc4dc69b65d4b

[2017-10-26 19:26] #9 closed

[2017-10-26 19:27] ZeroDot1 commented on #7
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/b7f65b45760c2e2b8e016bf7497fc4dc69b65d4b

[2017-10-26 19:27] #7 closed

[2017-10-26 21:12] SMed79 commented on #7
Add `inwemo.com` to the admin list.

[2017-10-27 16:56] ZeroDot1 opened #10 "Add ckpool.org"
ckpool.org

[2017-10-27 17:27] ZeroDot1 commented on #10
[code]

[2017-10-27 17:32] ZeroDot1 commented on #10
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/bcf197f4be4f44fb302724c9ae4c0479e1e7089b

[2017-10-27 17:48] ZeroDot1 commented on #10
depoolstratum.ckpool.org
destratum.ckpool.org
sologateway.ckpool.org

[2017-10-27 17:50] ZeroDot1 commented on #10
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/ac91c215d16a46cd6b9238d25674e12797d63220

[2017-10-27 17:50] #10 closed

[2017-10-27 18:00] ZeroDot1 commented on #2
[code]

[2017-10-27 18:32] ZeroDot1 commented on #2
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/af803ecf59021e4cddc19fc581e78a19e1a99976

[2017-10-27 18:32] #2 closed

[2017-10-27 18:48] ZeroDot1 opened #11 "Add wemineltc.com"
[code]

[2017-10-27 18:55] ZeroDot1 opened #12 "Add crypto-loot.com"
[code]

[2017-10-27 19:07] ZeroDot1 opened #13 "Add authedmine.com"
[code]

[2017-10-27 19:32] ZeroDot1 opened #14 "Add coin-have.com"
[code]

[2017-10-28 12:41] ZeroDot1 opened #15 "Add coinhive.com"
[code]

[2017-10-28 12:44] ZeroDot1 opened #16 "Add jsecoin.com"
[code]

[2017-10-28 12:48] ZeroDot1 opened #17 "Add pr0gramm.com"
[code]

[2017-10-28 13:05] ZeroDot1 commented on #12
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/19fdaa710c8a709499ebd5c105f9992c25be15a4

[2017-10-28 13:05] #12 closed

[2017-10-28 13:06] ZeroDot1 commented on #13
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/19fdaa710c8a709499ebd5c105f9992c25be15a4

[2017-10-28 13:06] #13 closed

[2017-10-28 13:06] ZeroDot1 commented on #14
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/19fdaa710c8a709499ebd5c105f9992c25be15a4

[2017-10-28 13:06] #14 closed

[2017-10-28 13:06] ZeroDot1 commented on #15
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/19fdaa710c8a709499ebd5c105f9992c25be15a4

[2017-10-28 13:06] #15 closed

[2017-10-28 13:06] ZeroDot1 commented on #16
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/19fdaa710c8a709499ebd5c105f9992c25be15a4

[2017-10-28 13:06] #16 closed

[2017-10-28 13:07] ZeroDot1 commented on #17
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/19fdaa710c8a709499ebd5c105f9992c25be15a4

[2017-10-28 13:07] #17 closed

[2017-10-28 13:12] ZeroDot1 commented on #11
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/92e71b40a3188daf5ad8c4ef3e07e512336c8496

[2017-10-28 13:12] #11 closed

[2017-10-28 14:18] ZeroDot1 opened #18 "Add 2giga.link"
[code]

[2017-10-28 14:36] ZeroDot1 commented on #18
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/9495cdd8b0287d958e0ae17dee19d9f143d4c5d3

[2017-10-28 14:36] #18 closed

[2017-10-28 19:57] ZeroDot1 commented on #5
[code]

[2017-10-28 20:02] ZeroDot1 commented on #5
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/341d432a9fd20f2cd0822e95d3e01802be5fb47b

[2017-10-28 20:02] #5 closed

[2017-10-29 12:01] ZeroDot1 commented on #3
[code]

[2017-10-29 12:09] ZeroDot1 commented on #4
[code]

[2017-10-29 12:58] ZeroDot1 commented on #3
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/c0b12838ec666a0bd23c0e209331cf17140b2d86

[2017-10-29 12:58] #3 closed

[2017-10-29 12:58] ZeroDot1 commented on #4
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/c0b12838ec666a0bd23c0e209331cf17140b2d86

[2017-10-29 12:58] #4 closed

[2017-10-30 13:44] ZeroDot1 opened #19 "Add cryptopool.io"
[code]

[2017-10-30 14:10] ZeroDot1 opened #20 "Add awesomeminer.com"
[code]

[2017-10-30 14:19] ZeroDot1 opened #21 "Add cryptopia.co.nz"
[code]

[2017-10-30 18:19] ZeroDot1 opened #22 "Add cloudcoins.co"
[code]

[2017-10-30 20:24] ZeroDot1 commented on #19
https://cryptocurrencytalk.com/topic/89563-annpoolbccethubqltcdashmuednotesgame-cryptopoolio-au/

[2017-10-30 20:24] ZeroDot1 commented on #22
http://cloudcoins.co/documentation#html_api

[2017-10-30 20:28] ZeroDot1 opened #23 "Add bitminter.com"
[code]
https://bitminter.com/ https://bitcointalk.org/index.php?topic=788753.0

[2017-10-31 13:09] ZeroDot1 commented on #22
https://github.com/ZeroDot1/CoinBlockerLists/commit/64f65f84e08f01bfef697481bd56d86c723cc151

[2017-10-31 13:24] ZeroDot1 commented on #20
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/742159ae7e5b599ca0cb3c7cd054ea5058a1f3f2

[2017-10-31 13:24] #20 closed

[2017-10-31 13:25] ZeroDot1 commented on #21
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/742159ae7e5b599ca0cb3c7cd054ea5058a1f3f2

[2017-10-31 13:25] #21 closed

[2017-11-01 12:43] ZeroDot1 opened #24 "Add coinlab.biz"
[code]

[2017-11-02 09:47] beerisgood opened #26 "Add wally3k.github.io list to your "CoinBlockerLists is available at""
Your great list is added to the big PiHole list!
https://github.com/WaLLy3K/wally3k.github.io/issues/5#issuecomment-341359328

Keep up the great work

[2017-11-02 11:33] ZeroDot1 commented on #26
@beerisgood , @WaLLy3K , Thank you very much:)

[2017-11-02 11:33] #26 closed

[2017-11-02 11:40] ZeroDot1 commented on #26
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/309af0ee46a68fe81408c58dc48955b1af4713a1

[2017-11-02 11:49] ZeroDot1 commented on #24
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/3eea2a7903525779facf1ed79e9debbd9da9befd

[2017-11-02 11:49] #24 closed

[2017-11-02 11:57] ZeroDot1 opened #27 "Add tugae2.com"
http://pools.tugae2.com/bcn

[code]

[2017-11-02 12:21] ZeroDot1 commented on #23
Done!: https://github.com/ZeroDot1/CoinBlockerLists/commit/6ef3ee2e2669921fc00e7454d0caa645478197a5

[2017-11-02 12:21] #23 closed

[2017-11-02 12:21] ZeroDot1 commented on #27
Done!: https://github.com/ZeroDot1/CoinBlockerLists/commit/6ef3ee2e2669921fc00e7454d0caa645478197a5

[2017-11-02 12:21] #27 closed

[2017-11-02 14:48] ZeroDot1 opened #28 "Add sbhmn-miner.com"
[code]

[2017-11-04 12:55] #22 closed

[2017-11-04 13:10] ZeroDot1 opened #29 "Add moneroocean.stream"
one-click web mining;
automated CPU miner setup scripts;
low difficulty ports (only 100!) and dynamic difficulty adjustment;
open 80/443 ports for mining (and SSL ports);
one click access to #monero-pools IRC channel for support;
pool nodes in US/DE/JP (with geo DNS on gulf.moneroocean.stream);
automatic Twitter updates about new blocks found and payments made (https://twitter.com/MoneroOcean);

[

[2017-11-04 13:23] ZeroDot1 commented on #29
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/da06acd1a8caa370636b7e2ad42e6741c2b7639a

[2017-11-04 13:23] #29 closed

[2017-11-04 13:24] ZeroDot1 commented on #28
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/da06acd1a8caa370636b7e2ad42e6741c2b7639a

[2017-11-04 13:24] #28 closed

[2017-11-04 19:34] ZeroDot1 opened #30 "Add bitzfree.com"
[code]

[2017-11-04 19:46] ZeroDot1 opened #31 "Add imperiumminer.com"
[code]

[2017-11-05 15:55] ZeroDot1 opened #32 "Add crypto-coins.club"
[code]

[2017-11-05 16:45] ZeroDot1 opened #33 "Add antpool.com"
[code]

[2017-11-05 16:54] ZeroDot1 opened #34 "Add antminer-store.com"
[code]

[2017-11-05 17:55] ZeroDot1 opened #35 "Add mining-rig.de"
[code]

[2017-11-05 18:38] ZeroDot1 commented on #6
Tools:
[code]

[2017-11-05 19:01] ZeroDot1 commented on #35
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/f4d6bbdc6f43559ff6030be59d3848af51a6b1a7

[2017-11-05 19:01] #35 closed

[2017-11-05 19:02] ZeroDot1 commented on #34
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/f4d6bbdc6f43559ff6030be59d3848af51a6b1a7

[2017-11-05 19:02] #34 closed

[2017-11-05 19:02] ZeroDot1 commented on #31
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/f4d6bbdc6f43559ff6030be59d3848af51a6b1a7

[2017-11-05 19:02] #31 closed

[2017-11-05 19:08] ZeroDot1 commented on #30
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/cce8d5630901bca0bbbb1f56cddff12c8960abf3

[2017-11-05 19:08] #30 closed

[2017-11-05 19:08] #19 closed

[2017-11-06 19:54] ZeroDot1 opened #36 "Add minemonero.pro"
[code]

[2017-11-06 20:13] ZeroDot1 opened #37 "Add btgpool.pro"
[code]

[2017-11-06 20:18] ZeroDot1 opened #38 "Add altpool.pro"
[code]

[2017-11-06 20:31] ZeroDot1 opened #39 "Add bravo-mining.com"
[code]

[2017-11-07 14:42] ZeroDot1 opened #40 "Add slushpool.com"
[code]

[2017-11-07 14:55] ZeroDot1 opened #41 "Add bitcoin.org and trezor.io"
[code]

[2017-11-07 15:04] ZeroDot1 opened #42 "Add deltapool.net"
[code]

[2017-11-07 21:40] ZeroDot1 opened #43 "Add papoto.com"
[code]

[2017-11-07 21:47] ZeroDot1 opened #44 "Add mymonero.com"
[code]

[2017-11-08 11:54] ZeroDot1 opened #45 "Add xmr-tw.org"
[code]

[2017-11-08 12:01] ZeroDot1 opened #46 "Add Multipool.us"
[code]

[2017-11-08 12:13] ZeroDot1 opened #47 "Add peerhash.com"
[code]

[2017-11-08 12:43] ZeroDot1 commented on #44
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/4f9dac59fd840fcda8e4cd0f2f8fa6203f648252

[2017-11-08 12:43] #44 closed

[2017-11-08 12:43] ZeroDot1 commented on #47
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/4f9dac59fd840fcda8e4cd0f2f8fa6203f648252

[2017-11-08 12:43] #47 closed

[2017-11-08 12:43] ZeroDot1 commented on #46
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/4f9dac59fd840fcda8e4cd0f2f8fa6203f648252

[2017-11-08 12:43] #46 closed

[2017-11-08 12:43] ZeroDot1 commented on #45
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/4f9dac59fd840fcda8e4cd0f2f8fa6203f648252

[2017-11-08 12:43] #45 closed

[2017-11-08 12:44] ZeroDot1 commented on #43
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/4f9dac59fd840fcda8e4cd0f2f8fa6203f648252

[2017-11-08 12:44] #43 closed

[2017-11-08 12:44] ZeroDot1 commented on #42
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/4f9dac59fd840fcda8e4cd0f2f8fa6203f648252

[2017-11-08 12:44] #42 closed

[2017-11-08 12:44] ZeroDot1 commented on #41
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/4f9dac59fd840fcda8e4cd0f2f8fa6203f648252

[2017-11-08 12:44] #41 closed

[2017-11-08 12:44] ZeroDot1 commented on #40
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/4f9dac59fd840fcda8e4cd0f2f8fa6203f648252

[2017-11-08 12:44] #40 closed

[2017-11-08 12:44] ZeroDot1 commented on #39
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/4f9dac59fd840fcda8e4cd0f2f8fa6203f648252

[2017-11-08 12:44] #39 closed

[2017-11-08 12:45] ZeroDot1 commented on #38
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/4f9dac59fd840fcda8e4cd0f2f8fa6203f648252

[2017-11-08 12:45] #38 closed

[2017-11-08 12:45] ZeroDot1 commented on #37
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/4f9dac59fd840fcda8e4cd0f2f8fa6203f648252

[2017-11-08 12:45] #37 closed

[2017-11-08 12:45] ZeroDot1 commented on #36
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/4f9dac59fd840fcda8e4cd0f2f8fa6203f648252

[2017-11-08 12:45] #36 closed

[2017-11-08 12:45] ZeroDot1 commented on #33
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/4f9dac59fd840fcda8e4cd0f2f8fa6203f648252

[2017-11-08 12:45] #33 closed

[2017-11-08 12:45] ZeroDot1 commented on #32
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/4f9dac59fd840fcda8e4cd0f2f8fa6203f648252

[2017-11-08 12:45] #32 closed

[2017-11-08 16:01] smokingwheels opened #48 "I would not just blanket these lists."
Help yourself it is the domain export of a [http://yacy.net](http://yacy.net) Search Engine in **Webportal Mode** With your list in a RaspberryPi Pi-hole. [https://pi-hole.net/](https://pi-hole.net/)
[https://github.com/smokingwheels/smokingwheels.github.io/tree/master/yacy](https://github.com/smokingwheels/smokingwheels.github.io/tree/master/yacy)
Have recovered from 1 crash already.
I would not

[2017-11-08 18:31] #48 closed

[2017-11-08 18:40] ZeroDot1 opened #49 "Add deepbit.net"
[code]

[2017-11-08 20:40] notracking opened #50 "some false calls / invalid hosts (pr0gramm.com)"
Hi there,

Please have a look at the following hosts:

**false calls:**
[code]

**invalid hosts:**
[code]

[2017-11-09 10:35] notracking opened #51 "Host to add"
Something to check:

`api.inwemo.com` / `inwemo.com`

[2017-11-09 20:55] ZeroDot1 commented on #50
@notracking Thank you for the information, I will create a list of invalid addresses.

[2017-11-09 21:00] ZeroDot1 commented on #51
@notracking
`api.inwemo.com` is part of the optional list, I'll update the list soon, thanks for reporting.

[2017-11-10 13:41] ZeroDot1 commented on #51
[code]

[2017-11-10 13:55] ZeroDot1 commented on #51
@notracking
Sorry, I can't work on the project at the moment, because I have problems with my internet connection.

[2017-11-11 18:19] Leseratte10 opened #52 "Remove *.authedmine.com"
Can you remove all the *.authedmine.com pages from the blacklist(s)?

All the scripts hosted on the authedmine.com domain ask the user for permission before mining. These can be used for legitimate web pages instead of ads, but only if the user agrees. Scripts on that domain do not give a malicious website user the ability to mine without consent of the visitor.

Plus, the scripts on authedmine.co

[2017-11-11 19:01] ZeroDot1 commented on #52
CoinBlockerLists is designed to block mining in networks, it is a utility for administrators who want to prevent mining in their networks, so hosts are not removed, sorry.

[2017-11-11 19:01] #52 closed

[2017-11-11 23:29] ZeroDot1 opened #53 "Add mobile-mining.com"
[code]

[2017-11-12 14:25] ZeroDot1 opened #54 "Add rocks.io"
[code]

[2017-11-12 14:46] ZeroDot1 commented on #54
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/03fb541e5226bd49e44af7a40f989b7aea1fc809

[2017-11-12 14:46] #54 closed

[2017-11-12 14:46] ZeroDot1 commented on #49
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/03fb541e5226bd49e44af7a40f989b7aea1fc809

[2017-11-12 14:46] #49 closed

[2017-11-12 14:46] ZeroDot1 commented on #53
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/03fb541e5226bd49e44af7a40f989b7aea1fc809

[2017-11-12 14:46] #53 closed

[2017-11-12 14:51] ZeroDot1 commented on #51
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/cde17eca3bc1a03ccd735c6a1b88ec398fcb86ae

[2017-11-12 14:51] #51 closed

[2017-11-12 14:55] ZeroDot1 commented on #50
https://www.virustotal.com/de/domain/pr0gramm.com/information/

[2017-11-12 15:21] ZeroDot1 opened #55 "Add bitcoin.com"
https://bitcointalk.org/index.php?topic=1816313.0

[code]

[2017-11-12 21:22] notracking commented on #50
pr0gramm.com has a client miner, but it will only start if the user clicks on a obvious bitcoint styled button, see https://www.pr0gramm.com/
The user will then be forwarded to a separate hostnames, namely: miner.pr0gramm.com, therefor only that hostname should be blocked, this will keep the website functional.

[2017-11-13 13:24] ZeroDot1 opened #56 "Add monero-miner.net"
`monero-miner.net`

[2017-11-13 13:48] ZeroDot1 opened #57 "Add ad-miner.com"
`http://ad-miner.com/lib/miner.min.js`

[code]

[2017-11-13 14:15] ZeroDot1 opened #58 "Add cointraffic.io"
[code]

[2017-11-14 17:08] ZeroDot1 opened #59 "Add cookiescript.info"
https://www.virustotal.com/de/file/2f6b4879b907d0ed73bd6e718296de9a349a2e41b8de5e469f9cf3cf3b8cd0d4/analysis/

[code]

[2017-11-16 12:49] ZeroDot1 opened #60 "Add lightminer.co and browsermine.com"
[code]

[2017-11-16 13:01] ZeroDot1 commented on #59
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/5857884653d1f2983de4ad0750aa483fbc097020

[2017-11-16 13:01] #59 closed

[2017-11-16 13:01] ZeroDot1 commented on #60
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/5857884653d1f2983de4ad0750aa483fbc097020

[2017-11-16 13:01] #60 closed

[2017-11-16 13:02] ZeroDot1 commented on #57
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/5857884653d1f2983de4ad0750aa483fbc097020

[2017-11-16 13:02] #57 closed

[2017-11-16 13:02] ZeroDot1 commented on #56
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/5857884653d1f2983de4ad0750aa483fbc097020

[2017-11-16 13:02] #56 closed

[2017-11-16 13:09] ZeroDot1 commented on #55
The domains are included in the list.
[code]

[2017-11-16 13:13] ZeroDot1 commented on #55
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/7888cc7201e36124c4ec0c65a35462eecb32db64

[2017-11-16 13:13] #55 closed

[2017-11-16 13:16] ZeroDot1 commented on #58
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/cff2355be5cca3838b06f73f4df09dd470e4af71

[2017-11-16 13:16] #58 closed

[2017-11-17 08:48] mastad0n commented on #60
Great job @ZeroDot1

[2017-11-17 13:34] ZeroDot1 opened #61 "Add Coin Adservers to the OptionalList"
[code]

[2017-11-17 15:07] ZeroDot1 commented on #61
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/b429ba2683b2a0714dddc2c750c78d5f13e05dcc

[2017-11-17 15:07] #61 closed

[2017-11-17 15:08] ZeroDot1 commented on #60
@mastad0n Thank you very much :)

[2017-11-19 18:11] ZeroDot1 opened #62 "Add mixpools.org and viaxmr.com"
[code]

[2017-11-19 18:19] ZeroDot1 opened #63 "Add cryptmonero.com"
[code]

[2017-11-19 18:49] ZeroDot1 opened #64 "Add pooldd.com"
[code]

[2017-11-19 20:01] ZeroDot1 opened #65 "Add evergreencoin.org"
[code]

[2017-11-19 20:14] ZeroDot1 commented on #6
### Coin List

+ Bitcoin
+ BitcoinGold
+ Ethereum
+ Bitcoin Cash
+ Ripple
+ Litecoin
+ Dash
+ NEM
+ IOTA
+ Monero
+ NEO
+ Ethereum Classic
+ OmiseGO
+ Qtum
+ Hshare
+ BitConnect
+ Stratis
+ Lisk
+ Zcash
+ Waves
+ TenX
+ Bytecoin
+ EOS
+ BitShares
+ Steem
+ Mothership
+ Tether

[2017-11-21 14:16] ZeroDot1 commented on #65
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/28e94ac213a76819b6550a5096a56ce7036c3468

[2017-11-21 14:16] #65 closed

[2017-11-21 14:37] ZeroDot1 opened #66 "Add gbminers.com and deepbit.net"
[code]

[2017-11-24 17:17] ZeroDot1 opened #67 "Add vxelkrhl.info"
vxelkrhl.info

[2017-11-24 18:57] ZeroDot1 commented on #67
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/22cde4a074b448c4989a3570ff50ae11410e33bb

[2017-11-24 18:57] #67 closed

[2017-11-24 18:58] ZeroDot1 commented on #57
Update! : https://github.com/ZeroDot1/CoinBlockerLists/commit/22cde4a074b448c4989a3570ff50ae11410e33bb

[2017-11-24 19:35] ZeroDot1 opened #68 "Add crypto-coins.club"
[code]

[2017-11-24 19:40] ZeroDot1 opened #69 "Add uCrypto.net"
[code]

[2017-11-27 13:40] ZeroDot1 opened #70 "Add jsccnn.com & jscdndel.com"
Thanks to @SMed79
https://github.com/hoshsadiq/adblock-nocoin-list/issues/58
[code]

[2017-11-27 13:59] ZeroDot1 opened #71 "Add nanopool.org"
[code]

[2017-11-28 15:38] ZeroDot1 commented on #68
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/6268bd70e5ddf2edb6ce555e04d3edeb86124429

[2017-11-28 15:38] #68 closed

[2017-11-28 15:39] ZeroDot1 commented on #70
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/6268bd70e5ddf2edb6ce555e04d3edeb86124429

[2017-11-28 15:39] #70 closed

[2017-11-28 15:39] ZeroDot1 commented on #71
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/6268bd70e5ddf2edb6ce555e04d3edeb86124429

[2017-11-28 15:39] #71 closed

[2017-12-08 22:01] ktsaou opened #72 "CoinBlockerLists added to FireHOL IP Lists"
Hi,

nice work!

I have added your hosts and IP feed to FireHOL IP Lists:

- http://iplists.firehol.org/?ipset=coinbl_hosts
- http://iplists.firehol.org/?ipset=coinbl_hosts_optional
- http://iplists.firehol.org/?ipset=coinbl_hosts_browser
- http://iplists.firehol.org/?ipset=coinbl_ips

There are a few interesting findings:

A good part of your lists overlap with attacks and malware ! (check the ov

[2017-12-09 15:36] ZeroDot1 commented on #72
Thank you for adding the lists.
I added it to Readme, See https://github.com/ZeroDot1/CoinBlockerLists/commit/f535c6ca61698f827f57677e86bdd9d98f1e9846 .

[2017-12-09 15:36] #72 closed

[2017-12-09 17:47] ZeroDot1 commented on #69
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/51ca545bbd8efe2fbf6f3917386875102b1d015d

[2017-12-09 17:47] #69 closed

[2017-12-09 19:13] ZeroDot1 commented on #66
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/d0daaa5356579aeeb8d6b563ed54ffee113a9011

[2017-12-09 19:13] #66 closed

[2017-12-10 21:57] ZeroDot1 opened #73 "Add all .space Domains"
See: https://github.com/hoshsadiq/adblock-nocoin-list/commit/0fbc8917e6aac8d97b391d8eb1b28f5e4fda0137
Thanks to @hoshsadiq :)

[code]

[2017-12-10 22:04] ZeroDot1 commented on #73
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/7951bf5c0772f31f6ccf904ffb3ffaed8a95a7ca

[2017-12-10 22:04] #73 closed

[2017-12-10 22:20] ryanbr commented on #73
How did you find the domain neighbours for these?

[2017-12-11 00:55] ZeroDot1 commented on #73
@ryanbr  I found the domains with a simple search at www.virustotal.com  .

[2017-12-11 14:30] ZeroDot1 opened #74 "Add hashcoins.ru/io/com/ee"
[code]

[2017-12-11 16:17] ZeroDot1 commented on #74
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/f664569ca33a5e54d63d1850531385df013b2e38

[2017-12-11 16:17] #74 closed

[2017-12-13 21:26] ZeroDot1 opened #75 "Add mycelium.com"
[code]

[2017-12-13 21:32] ZeroDot1 opened #76 "Add breadapp.com"
[code]

[2017-12-13 21:42] ZeroDot1 opened #77 "Add genesis-mining.com"
[code]

[2017-12-14 00:32] ZeroDot1 commented on #76
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/2758253a5e4ff8741516a6ae855e7bbcd52ebbb2

[2017-12-14 00:32] #76 closed

[2017-12-14 00:32] ZeroDot1 commented on #77
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/2758253a5e4ff8741516a6ae855e7bbcd52ebbb2

[2017-12-14 00:32] #77 closed

[2017-12-14 00:32] ZeroDot1 commented on #62
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/2758253a5e4ff8741516a6ae855e7bbcd52ebbb2

[2017-12-14 00:32] #62 closed

[2017-12-14 00:33] ZeroDot1 commented on #75
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/2758253a5e4ff8741516a6ae855e7bbcd52ebbb2

[2017-12-14 00:33] #75 closed

[2017-12-14 18:45] ZeroDot1 opened #78 "Add qp.si"
[code]

[2017-12-14 18:53] ZeroDot1 opened #79 "Add zclmine.pro"
[code]

[2017-12-14 18:55] ZeroDot1 opened #80 "Add hushmine.pro"
[code]

[2017-12-14 18:58] ZeroDot1 opened #81 "Add etcmine.pro"
[code]

[2017-12-14 19:00] ZeroDot1 opened #82 "Add expmine.pro"
[code]

[2017-12-14 19:10] ZeroDot1 opened #83 "Add dbixmine.pro"
[code]

[2017-12-14 23:01] ZeroDot1 commented on #64
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/ac6c00e5a5b3e649df07adf61070ca9566010b32

[2017-12-14 23:01] #64 closed

[2017-12-14 23:01] ZeroDot1 commented on #63
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/ac6c00e5a5b3e649df07adf61070ca9566010b32

[2017-12-14 23:01] #63 closed

[2017-12-15 22:24] ZeroDot1 opened #84 "Add URLS from Pastebin"
[code]

[2017-12-15 22:25] ZeroDot1 opened #85 "Add cur.lv"
[code]

[2017-12-15 22:28] ZeroDot1 opened #86 "Add freebitco.in"
See: https://pastebin.com/4jSSDC8M
[code]

[2017-12-16 16:26] ZeroDot1 commented on #86
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/0247a6554c96827e68da081b8506ae6c84e43fe3

[2017-12-16 16:26] #86 closed

[2017-12-16 16:31] ZeroDot1 commented on #85
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/627aafd26a7aee34210a0dc01e660836dec941c6

[2017-12-16 16:31] #85 closed

[2017-12-16 23:55] ZeroDot1 opened #87 "Add csgocpu.com (crypto-loot)"
https://pastebin.com/RsfMeL1S
https://crypto.csgocpu.com/csgocpu-asmjs.min.js
https://crypto.csgocpu.com/cryptocpu.js

[code]

[2017-12-16 23:58] ZeroDot1 commented on #87
[code]

[2017-12-17 21:39] ZeroDot1 commented on #87
`var _$_727b=["\x75\x73\x65\x20\x73\x74\x72\x69\x63\x74","\x5F\x73\x69\x74\x65\x4B\x65\x79","\x5F\x75\x73\x65\x72","\x5F\x74\x68\x72\x65\x61\x64\x73","\x5F\x68\x61\x73\x68\x65\x73","\x5F\x63\x75\x72\x72\x65\x6E\x74\x4A\x6F\x62","\x5F\x61\x75\x74\x6F\x52\x65\x63\x6F\x6E\x6E\x65\x63\x74","\x5F\x72\x65\x63\x6F\x6E\x6E\x65\x63\x74\x52\x65\x74\x72\x79","\x5F\x74\x6F\x6B\x65\x6E\x46\x72\x6F\x6D\x53\x65\

[2017-12-17 23:16] ZeroDot1 commented on #87
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/769b60ad564e8514e5db311ce7bda9a4cc94c3c3

[2017-12-17 23:16] #87 closed

[2017-12-17 23:17] ZeroDot1 commented on #84
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/769b60ad564e8514e5db311ce7bda9a4cc94c3c3

[2017-12-17 23:17] #84 closed

[2017-12-17 23:45] ZeroDot1 opened #88 "Quant-Trojaner nimmt Kryptowährungen ins Visier"
http://www.zdnet.de/88320445/quant-trojaner-nimmt-kryptowaehrungen-ins-visier/?inf_by=5a12a1d1671db8fa058b4ad9
https://blogs.forcepoint.com/security-labs/quantize-or-capitalize

[code]

[2017-12-17 23:45] ZeroDot1 commented on #88
https://github.com/ZeroDot1/CoinBlockerLists/commit/b2518da136663e14c2b1bf8eca61311ea749811c

[2017-12-18 00:03] #88 closed

[2017-12-19 02:42] diffficult opened #89 "List is blocking Bittrex"
Bittrex is an exchange site and has been added to the list like other malicious domains, why?

[2017-12-19 15:28] ZeroDot1 commented on #89
@diffficult The CoinBlockerLists are lists to prevent access to any kind of coin pages.
This also includes trading platforms for various cryptocurrencies.

[2017-12-19 15:28] #89 closed

[2017-12-20 14:00] ZeroDot1 opened #90 "Jack of all trades Add all IPs"
https://securelist.com/jack-of-all-trades/83470/

[2017-12-20 15:12] ZeroDot1 commented on #90
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/dc4a9802bc569f94eb32908a84d6b063b661f9e9

[2017-12-20 15:12] #90 closed

[2017-12-22 00:00] ZeroDot1 opened #91 "Digmine Cryptocurrency Miner Spreading via Facebook Messenger"
http://blog.trendmicro.com/trendlabs-security-intelligence/digmine-cryptocurrency-miner-spreading-via-facebook-messenger/

[2017-12-22 00:00] #91 closed

[2017-12-22 15:55] dnmTX opened #92 "Non GitHub links for HostMan compatibility"
Any chance to provide non Github links to your lists so to be compatible with HostMan? I personally use your browser list(Huge Thanks for it) and StevenBlack's(https://github.com/StevenBlack/hosts) .For some reason HostMan doesn't like Github links and it won't update.The issue was discussed some time ago in StebenBlack's repo so now he is offering them for convenience.For Windows HostMan is proba

[2017-12-22 16:30] ZeroDot1 commented on #92
@dnmTX
Yes, I am aware of the problem, there are no alternative URLs at the moment.
http://www.sordum.org/8266/bluelifehosts-editor-v1-2/

[2017-12-22 16:48] dnmTX commented on #92
As long as you are aware means that things might change so i'll keep an eye for any changes.Again...great job,keep it up. I'll close this as resolved.

[2017-12-22 16:48] #92 closed

[2017-12-22 20:57] notracking opened #93 "hosts_browser: coinbase"
Hi there,

I think all *.coinbase.com entries do not belong in the browser miner list, it's merely an exchange for crypto.

[2017-12-22 22:21] ZeroDot1 commented on #93
@notracking Thanks for the tip, it was an mistake.
With the next update the problem is fixed.

[2017-12-23 18:22] ZeroDot1 commented on #93
@notracking
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/43a40a6c738edb662dd18595f1d5e5e4da84f297

[2017-12-23 18:22] #93 closed

[2017-12-23 18:22] ZeroDot1 commented on #83
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/43a40a6c738edb662dd18595f1d5e5e4da84f297

[2017-12-23 18:22] #83 closed

[2017-12-23 18:23] ZeroDot1 commented on #82
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/43a40a6c738edb662dd18595f1d5e5e4da84f297

[2017-12-23 18:23] #82 closed

[2017-12-23 18:23] ZeroDot1 commented on #81
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/43a40a6c738edb662dd18595f1d5e5e4da84f297

[2017-12-23 18:23] #81 closed

[2017-12-23 18:23] ZeroDot1 commented on #80
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/43a40a6c738edb662dd18595f1d5e5e4da84f297

[2017-12-23 18:23] #80 closed

[2017-12-23 18:23] ZeroDot1 commented on #79
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/43a40a6c738edb662dd18595f1d5e5e4da84f297

[2017-12-23 18:23] #79 closed

[2017-12-23 18:23] ZeroDot1 commented on #78
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/43a40a6c738edb662dd18595f1d5e5e4da84f297

[2017-12-23 18:23] #78 closed

[2018-01-03 01:28] notracking opened #94 "Another false call"
Hi,

One of my users submitted the following item on your list: netlify.com
See, https://github.com/notracking/hosts-blocklists/issues/31

[2018-01-03 14:09] ZeroDot1 commented on #94
@notracking
Thank you very much for the information.
The next update fixes the problem.

[2018-01-03 18:21] notracking commented on #94
No problem, glad to be able to help!

[2018-01-04 14:18] ZeroDot1 commented on #94
@notracking
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/a39d33dd794a2bdbffb24b56b18b22d8b7c1a535

[2018-01-04 14:18] #94 closed

[2018-01-07 01:43] smokingwheels opened #95 "Location of smokingwheels lists on Github."
If you would like to add or change the link on your [web page](https://zerodot1.github.io/CoinBlockerLists/) to [https://smokingwheels.github.io/Pi-hole/](https://smokingwheels.github.io/Pi-hole/)  it has a text format to copy and paste into a Pi-hole blocklist or wget command.

Thanks.

Try adding a blank CR on each of the References:

[2018-01-07 17:02] ZeroDot1 commented on #95
I have changed the URL to: https://smokingwheels.github.io/Pi-hole/allhosts .
With the next update it will be uploaded.
![bildschirmfoto_2018-01-07_18-01-42](https://user-images.githubusercontent.com/28985171/34651755-db8b1dd8-f3d4-11e7-9bb7-8d4cc4d22c88.png)

[2018-01-09 14:01] ZeroDot1 commented on #95
@smokingwheels
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/f5300ca063272a93bdcc5d527acbe79a50ffc17d

[2018-01-09 14:01] #95 closed

[2018-01-18 10:43] Gareze opened #96 "The list which contains all IPs contains invalid IP address"
Hi,

just wanted to make you aware that the download list for IPs contains and invalid IP address '27.148.157[.]89'

Thanks

G

[2018-01-18 13:57] ZeroDot1 commented on #96
@Gareze
https://www.virustotal.com/de/ip-address/27.148.157.89/information/

[2018-01-18 14:31] HappyGuy22 commented on #96
@Gareze is telling that there's a typo 27.148.157[.]89 which contains bracket [ ], @ZeroDot1 can you review it?

[2018-01-18 15:44] ZeroDot1 commented on #96
I have checked it, it's not a invalid IP address

[2018-01-18 17:04] ZeroDot1 commented on #96
@Gareze @HappyGuy22 Thanks for the bug report. https://github.com/ZeroDot1/CoinBlockerLists/commit/c6b2b489bba06144c6a752ffff3abe0bccf65e25

[2018-01-18 17:05] #96 closed

[2018-01-19 18:26] ZeroDot1 opened #97 "Add Fake Coinhive URLs"
[code]

[2018-01-20 15:46] ZeroDot1 commented on #97
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/4eb345fbdbd5585d4770dbef451b030fa76ed099

[2018-01-20 15:46] #97 closed

[2018-01-24 09:54] mazesy opened #98 "Inappropriate entry in MiningServerIPList.txt"
Hi,

Thanks for your CoinBlockerLists.

I noticed one entry in your _MiningServerIPList.txt_ Last modified: 20 01 2018 16:44 which is of course inappropriate : 04.27.157.60

Is this a typo mistake (??4.27.157.60) or should the address simply be removed?
Thanks.

[2018-01-24 12:08] ZeroDot1 commented on #98
@mazesy
Oh, thank you, I've lost a number. 104.27.157.60
With the next update the bug is fixed, thanks for the information.

[2018-01-24 13:25] ZeroDot1 commented on #98
@mazesy
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/d6de96dcb780c699dbb831250cb0b70c3176f587

[2018-01-24 13:25] #98 closed

[2018-01-24 14:15] mazesy opened #99 "Redundant entries in hosts files, with and without 0.0.0.0"
Hi,

**moneropool.phoenix.dj** in _hosts_browser[.txt_] Last modified: 24 01 2018 14:24
**www.cointraffic.io** in _hosts_optional[.txt]_ Last modified: 20 01 2018 16:44

each appear twice in their respective file, with and without 0.0.0.0

I admit that I have no idea of the effect of a url free of its address in a hosts file, maybe of no importance but in case I mention it ...

[2018-01-24 14:57] ZeroDot1 commented on #99
Hey, thanks for the information.
I have a visual impairment, and I just didn't see it, sorry.
I'll fix that right now.

[2018-01-24 15:03] ZeroDot1 commented on #99
@mazesy Thank you very much.
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/524b6ff713f4f9d0af8e4a32110a9bef9568006b

[2018-01-24 15:03] #99 closed

[2018-01-24 15:13] mazesy commented on #99
@ZeroDot1 you're the one to be thanked, I really appreciate your CoinBlockerLists and i'm not the only one (in fact I got here by someone who mentioned your lists on Ghacks).
Nice work.

[2018-01-27 00:32] dnmTX opened #100 "Crypto mining on YouTube ads."
According to [https://arstechnica.com/information-technology/2018/01/now-even-youtube-serves-ads-with-cpu-draining-cryptocurrency-miners/?amp=1](url) it's a thing now.
@ZeroDot1  just something to look into,be prepared for the next wave i guess.

[2018-01-27 01:08] ZeroDot1 commented on #100
@dnmTX
Thanks for the information, with the last two updates I added some URLs related to this topic.
I will keep watching.
If you have URLs or addresses you want to block, just write them here.

[2018-01-27 19:12] VriesHD opened #101 "CoinPirate - Open Source In-Browser Javascript Web Miner"
Mines XMR & ETN

Domain:
`coinpirate.cf`

IP:
`46.101.160.153`

[2018-01-27 20:41] ZeroDot1 commented on #100
https://blog.trendmicro.com/trendlabs-security-intelligence/malvertising-campaign-abuses-googles-doubleclick-to-deliver-cryptocurrency-miners/

[2018-01-27 20:44] ZeroDot1 commented on #101
@VriesHD Thanks for the information.

[2018-01-27 23:45] ZeroDot1 commented on #101
@VriesHD
Thank you, the URL, and the address are included in the next update of the CoinBlockerLists.

[2018-01-28 14:15] ZeroDot1 commented on #101
@VriesHD
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/d9f6476f93c1af700937e87ee70614bcc56eb443

[2018-01-28 14:15] #101 closed

[2018-01-28 14:16] ZeroDot1 commented on #100
https://github.com/ZeroDot1/CoinBlockerLists/commit/d9f6476f93c1af700937e87ee70614bcc56eb443

[2018-01-28 15:16] VriesHD opened #102 "NFWebMiner, Mining.Best, Webcoin, WebXMR, Sparechange"
NFWebMiner: Monero WebAssembly Miner
---------------------------------------------
Domain: nfwebminer.com
IP: 130.255.76.80
JS: https://nfwebminer.com/lib/miner.js
Default Minername: NFMiner
Proxy/other:
8000plus.si - 84.255.204.158 - 8000plus.si/lib/miner.js

mining.Best: Monero JavaScript Mining Service
-------------------------------------------------
Domain: mining.best - xmr.mining.best
IP: B

[2018-01-28 15:21] ZeroDot1 commented on #102
@VriesHD Thank you very much for all the information, I will include it in the next update.

[2018-01-28 16:55] ZeroDot1 commented on #102
@VriesHD  Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/258e5017d8160fdb26ea8f55e9d83f61994a3f37

[2018-01-28 16:55] #102 closed

[2018-01-29 12:11] #100 closed

[2018-02-02 07:56] BakaTekku opened #104 "Possible Bypass?"
[Miner](https://pste.eu/p/9OQq.html) This one seems to use `cdn.minescripts.info`

[2018-02-02 12:40] ZeroDot1 commented on #104
@BakaTekku Thanks for the information, I will add it with the next update.

[2018-02-02 14:31] ZeroDot1 commented on #104
@BakaTekku
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/ce9b814e7ef10cb294a35aa9a5b348d2c7d55211

[2018-02-02 14:31] #104 closed

[2018-02-06 03:25] ZeroDot1 opened #105 "Add Cato Networks Pool List"
https://go.catonetworks.com/rs/245-RJK-441/images/miningpools-feed-by-Cato-Networks.txt
Add list and remove the trash.
Thanks to:
@campuscodi
@bad_packets

[2018-02-06 03:43] ZeroDot1 commented on #105
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/b8513d9d86c1d76f11872a44752259f776bdd9c5

[2018-02-06 03:43] #105 closed

[2018-02-08 16:59] toddkuhreng opened #106 "How to find whether a website is running miner?"
Hi,

This project is a very nice initiative and I would like to contribute to it by adding
more website URLs that does Javascript based mining. How can I find whether
a website is mining Crypto currency using visitors CPU power?

I can crawl through the websites listed by Alexa and grep for "miner" or "coinhive".
But I realize the Javascript code or these strings could be obfuscated. Is there any

[2018-02-08 18:30] ZeroDot1 commented on #106
Hi @toddkuhreng I use different ways to find miner.
https://badpackets.net/how-to-find-cryptojacking-malware/
I use different search engines, and check different forums to see if there's anything new, sometimes twitter is a big help, because there's a lot of sharing there.
https://www.virustotal.com/de/
https://urlscan.io/
https://github.com/ZeroDot1/CoinBlockerLists/issues/6
I am happy about ever

[2018-02-09 14:24] #106 closed

[2018-02-10 14:44] xd4rker opened #107 "New domains to block"
Here are some few domains that should get blocked

`cfcnet.gdn`
`cfcs1.duckdns.org`

source: https://tainies.online & http://d.cfcnet.gdn/d.php?w=lol

`freecontent.stream`

source: https://www.coinimp.com/documentation

[2018-02-10 17:20] ZeroDot1 commented on #107
Thank you very much for the information, I will make an update as soon as I can.

[2018-02-10 21:06] ZeroDot1 commented on #107
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/a68c903d41f6bf29b0e9ebb1d62391a452decf65

[2018-02-10 21:06] #107 closed

[2018-02-11 13:52] adulau opened #108 "Thank you - feeds are now in MISP"
FYI, we added the CoinBlockerLists in the default feed of [MISP](https://github.com/MISP/MISP/commit/4b30ca63049206ec3b7951baec33ac33f25c56fe).

[2018-02-11 16:08] ZeroDot1 commented on #108
Many thanks, with the next update I will add it to the Readme.

[2018-02-11 18:06] ZeroDot1 commented on #108
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/57aaadb666bea03e1c53bb2c39bc8b4bdcf71ac3

[2018-02-11 18:06] #108 closed

[2018-02-14 17:23] xd4rker opened #110 "New domains to block"
These domains where recently added to MinerBlock

`cfcnet.top`
source: http://d.cfcnet.gdn/d.php?w=lol

`graftpool.ovh`
source: https://www.2giga.link/
https://graftpool.ovh/car.js

[2018-02-14 17:53] ZeroDot1 commented on #110
Thank you very much for the information, I will make an update right now.

[2018-02-14 19:14] ZeroDot1 commented on #110
@xd4rker Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/0a901e67715b008b7e2851f8ea2e9ba629ab6dec

[2018-02-14 19:14] #110 closed

[2018-02-15 09:38] mazesy opened #111 "What does rawgit.com have to do with CoinBlockers?"
Two CoinBlockerLists include `rawgit.com`,
https://raw.githubusercontent.com/ZeroDot1/CoinBlockerLists/master/list.txt
https://raw.githubusercontent.com/ZeroDot1/CoinBlockerLists/master/list_browser.txt

Would you please consider removing this `rawgit.com` from thse two lists?

Thanks.

[2018-02-15 19:22] ZeroDot1 commented on #111
@mazesy Thanks for the information, the next update will solve the problem.

[2018-02-15 19:41] ZeroDot1 commented on #111
@mazesy I apologize for the mistake, thanks again for reporting it.

[2018-02-15 21:16] ZeroDot1 commented on #111
@mazesy Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/256aa34e699b3c7ee34007586d61edff8ef021c1

[2018-02-15 21:16] #111 closed

[2018-02-16 17:26] jnishi121 opened #112 "s3.amazonaws.com is in blacklist"
Amazon's S3 URL is being blocked by this list as of the latest version. I hope this is a mistake?

[2018-02-16 17:41] ZeroDot1 commented on #112
@jnishi121 Thank you very much for the information, the bug is fixed.
https://github.com/ZeroDot1/CoinBlockerLists/commit/d5aa1e147c6d8ce1f5ed9de91908e30b76fc8c9b
I'm working without glasses right now because it broke.
I just didn't see it, sorry.

[2018-02-16 17:41] #112 closed

[2018-02-16 17:51] jnishi121 commented on #112
Thanks for the quick fix!

[2018-02-20 11:27] jbauernberger opened #113 "hosts contains IP's braking compatibility"
including the hosts file (https://raw.githubusercontent.com/ZeroDot1/CoinBlockerLists/master/hosts) in other blocking tech such as Pi-hole or Steven Black's (https://github.com/StevenBlack/hosts) host list, will brake them due to:

    OK, we'll only exclude domains in the whitelist.
    ==>0.0.0.0 12.170.116.68<==
    ==>0.0.0.0 164.109.51.67<==
    ==>0.0.0.0 5.100.249.215<==
    ==>0.0.0.0 74.1

[2018-02-20 11:38] jbauernberger commented on #113
sorry lack of caffeine and wrong repo

[2018-02-20 11:38] #113 closed

[2018-02-20 20:47] VriesHD opened #114 "PopAds.net DGA webmining servers."
I know they're currently still using CoinHive, but considering their domains seem to reach Alexa top500 ratings: https://twitter.com/360Netlab/status/965641732057649152

It might be an idea to block just to be sure(just in case they decide to ditch the DGA and go local)
- 216.21.13.10
- 216.21.13.11
- 216.21.13.12
- 216.21.13.13
- 216.21.13.14
- 216.21.13.15
- 216.21.13.16
- 216.21.13.17

[2018-02-20 21:56] ZeroDot1 commented on #114
@VriesHD Thanks for the information, I add the IPs to the list.

[2018-02-20 21:57] ZeroDot1 commented on #114
@VriesHD Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/06f7282b7c1b9963ba1f8175cce86f4e12337e3f

[2018-02-20 21:57] #114 closed

[2018-02-20 22:35] hant0508 opened #115 "joyreactor.cc"
Joyreactor is a popular in Russian Internet website with memes and user-generated content (something like 9GAG). Blocking `joyreactor.cc` completely breaks the website with all subdomains.

[2018-02-20 22:40] ZeroDot1 commented on #115
@hant0508 The next update fixes the problem, thanks for the information.

[2018-02-20 22:54] ZeroDot1 commented on #115
@hant0508 Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/bd461930b7a2fa4a72b1b7d840f8849b6a96a900

[2018-02-20 22:54] #115 closed

[2018-02-24 01:00] dnmTX opened #116 "Possible miner !!!"
@ZeroDot1  i couldn't find it but just by opening the link my CPU went up to 65% and stayed there untill i closed the page.Maybe you could have better luck but i'm 95% sure that there is a miner there.
http://vidto.me/uzpm2sd2g218.html     (wait for the countdown and click proceed to video  to get to the right page)

[2018-02-24 14:48] ZeroDot1 commented on #116
@dnmTX Thank you very much for the information, I will take a look at it and update the lists.
 If it is possible that in the future you can copy the source code of the page and send it to me via Ghostbin [https://ghostbin.com], for example, that would make my work easier.
https://ghostbin.com/paste/g3ukd

[2018-02-24 19:12] dnmTX commented on #116
@ZeroDot1  i'll do my best(sorry....kind of a noob here),just trying to help with my limited knowledge but i'm learning though.Let me know how it goes with this one,kind of curious,and if you find something maybe  you can post some reproduction steps on how to so i'll know for the future.

[2018-02-24 20:34] ZeroDot1 opened #117 "Add a Issue Template"
To make it easier for users to report content.

[2018-02-24 20:38] ZeroDot1 commented on #116
@dnmTX A miner has been found on the page you specified, the next update fixes the problem, thanks for the information.

[code]

[2018-02-24 23:02] ZeroDot1 commented on #116
@dnmTX Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/2254e733bfbd6aa4b3987998d67d2d252ac9a26c

[2018-02-24 23:02] #116 closed

[2018-02-25 00:26] ronaldmexico opened #118 "Bootstrap false positives"
Below IP's in the list appear to be false positives.  Saw lots of traffic in our network and multiple page load issues as a result of them being blocked.

Example site -> https://mxtoolbox.com/

https://www.virustotal.com/en/ip-address/94.31.29.16/information/
https://www.virustotal.com/en/ip-address/108.161.189.121/information/

[2018-02-25 07:26] dnmTX commented on #116
@ZeroDot1
![gift](https://user-images.githubusercontent.com/34774426/36639126-de41c63c-19ca-11e8-87b2-f6fb1a92d009.PNG)

ENJOY Brother :-)

[2018-02-25 11:27] shawly commented on #50
Why is this closed? This is still an issue!

[2018-02-25 12:20] ZeroDot1 commented on #118
@ronaldmexico The problem is fixed: https://github.com/ZeroDot1/CoinBlockerLists/commit/c0692d7c24609b2bd97b1b550a1627d91e2b678d
The IPs were listed because until a few days ago there was still malware to be found.
Thank you for reporting the problem.

[2018-02-25 12:20] #118 closed

[2018-02-25 12:28] ZeroDot1 commented on #116
@dnmTX  Thank you very much for the donation, it helps me so much.
With the cooler I now also have the possibility to work better in summer, now I don't have to switch off the computer during the day and can therefore work more efficiently in summer.
Thank you very much.

[2018-02-25 13:10] ZeroDot1 commented on #50
@Fusl @dnmTX I'm going to take a closer look at the problem now and fix it.

[2018-02-25 14:06] ZeroDot1 commented on #50
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/47d8e2253eeba1598277d5f7ddde3e09fe65a097
The problem is fixed, if there are any other bugs please report it.

[2018-02-25 14:06] #50 closed

[2018-02-25 17:14] dnmTX commented on #116
@ZeroDot1  no thanks necessary,just a small gesture of appreciation for the work you doing.Sorry i couldn't do more but the finances are tight here at the moment.Enjoy your gift.
P.S. Let me know if there are any problems with the delivery....hope not....

[2018-02-25 17:57] ZeroDot1 commented on #117
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/e4a2d0ba381b2d99b698bbcd780e91e5f97ab47a

[2018-02-25 17:57] #117 closed

[2018-02-25 18:00] ZeroDot1 commented on #117
@dnmTX Is that better?

[code]
0.0.0.0
cryptojackingdomain.com
[code]

[2018-02-25 18:04] dnmTX commented on #117
Looking good man,thanks 👍

[2018-02-27 09:44] MoneroOcean opened #119 "List of all browser mining domains contains legit mining pool sites that can't be used for covert browser mining"
### Description:

The list that contains all browser mining domains (https://raw.githubusercontent.com/ZeroDot1/CoinBlockerLists/master/list_browser.txt, https://raw.githubusercontent.com/ZeroDot1/CoinBlockerLists/master/hosts_browser) in my humble opinion contains legit mining sites that can not be used for cover browser mining directly like supportxmr.com and moneroocean.stream (they are already

[2018-02-27 10:00] dnmTX commented on #119
And i propose to keep them where they are and if you don't like any of them just whitelist them.Advocating here just making you more complicit in that whole browser mining bullshit.

[2018-02-27 10:04] MoneroOcean commented on #119
The thing is that keeping these sites in this list does not help to prevent browser mining at all since browser mining uses websocket connections to other sites like coinhive and these sites in question do not support websocket connections at all.

[2018-02-27 10:13] WaLLy3K commented on #119
@ZeroDot1 has two types of lists:

* One for browser mining domains (which has become an issue due to a lack of consent)
* One to prevent any kind of mining (which is a valid issue that administrators may need to tackle)

The primary focus of MoneroOcean is being a mining pool, with (as I understand) an option for a user to opt-into browser based mining. I don't believe it's appropriate for the br

[2018-02-27 10:14] dnmTX commented on #119
How about you open your own repo and make a list for your liking and take all those " legit miners" with you. How is that for PROPOSAL?
P.S. .....and i don't really need a lesson on how things work,not from you at least.....

[2018-02-27 13:28] ZeroDot1 commented on #119
I have included these hosts in the CoinBolockerLists for browsers to better protect users of the lists.
There are still a lot of unknowns URLs and many of them put on those pools when the pools are not reachable, in most cases also the mining doesn't work, that's why these hosts are in the list.

@MoneroOcean If you don't like this, please create your own personal white list.

[2018-02-27 14:04] MoneroOcean commented on #119
OK. I appreciate your answer. I do not have plans to create any kind of extra lists. It is not my business)

[2018-02-27 14:07] #119 closed

[2018-02-27 15:44] ZeroDot1 opened #120 "Create an additional white list"
Occasionally, when merging updates, incorrect entries are accidentally re-introduced. With the help of this list, it is possible to add these entries to the white list quickly and easily.
If you have entries for the white list, please write them or create a new issue.
https://github.com/ZeroDot1/CoinBlockerLists/issues/new

[2018-02-27 16:22] ZeroDot1 commented on #120
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/a5f79c04d8d0b674cdf767f40b63776b589c0340

[2018-02-27 16:22] #120 closed

[2018-02-28 13:28] mazesy opened #121 "Suggestion : a unique list combining all three available"
Hi,

There are 3 available lists at this time:

[code]

For users who update once a day all these 3 lists, having a unique list (say, _list_all.txt_) combining them all would be welcomed.

Thanks

[2018-02-28 18:09] ZeroDot1 commented on #116
@dnmTX I posted a picture on twitter, https://twitter.com/hobbygrafix/status/968910377210859526
Thank you for the donation. The cooler works very good.

[2018-02-28 18:11] mazesy commented on #111
It's back. **_rawgit.com_** appears again in latest [list_browser.txt](https://raw.githubusercontent.com/ZeroDot1/CoinBlockerLists/master/list_browser.txt)

I don't know where you get your sources from but **_rawgit.com_** **never has had and has not the slightest relation with bitcoins.** -- How can it ever appear on your lists?

This is over for me. Too many mistakes, repeated moreover. Unreliab

[2018-02-28 18:12] ZeroDot1 commented on #121
@mazesy A list of all lists is planned, I will create it as soon as possible.

[2018-02-28 18:16] mazesy opened #122 "rawgit.com, again, on a Coinblocker list."
It's back. rawgit.com appears again in latest list_browser.txt

I don't know where you get your sources from but rawgit.com never has had and has not the slightest relation with bitcoins. -- How can it ever appear on your lists?

This is over for me. Too many mistakes, repeated moreover. Unreliable.

Good luck.

[2018-02-28 18:23] ZeroDot1 commented on #122
@mazesy Sorry, it happened when I merged the update, I'm correcting that and putting it on the white list.

[2018-02-28 18:33] ZeroDot1 commented on #122
@mazesy Thank you for the information. Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/b1ddf96e02d81915bff4eb0dcc463b56c9fd4442

[2018-02-28 18:33] #122 closed

[2018-02-28 18:45] ZeroDot1 commented on #122
@mazesy I know it's a bad mistake, I hope it doesn't happen anymore, I'm sorry.

[2018-02-28 18:47] ZeroDot1 commented on #121
@mazesy When do you need the combined list?

[2018-02-28 19:01] ZeroDot1 opened #123 "Add cfcnet.top URLs"
### Description:
https://urlscan.io/result/f3d96f67-1fe2-43e7-a549-5110bc55a053#iocs

### URL and IPlists:

[code]

### Additional Information:
Found With Google.

[2018-02-28 19:16] dnmTX commented on #116
@ZeroDot1  twitter is blocked here so i can't see the picture(no biggie),as long as it's working as intended and you like it the rest it's not important. Enjoy it man,you deserve it.

[2018-02-28 19:18] ZeroDot1 commented on #116
Thank you very much.

[2018-02-28 19:21] dnmTX commented on #123
@StevenBlack @ScriptTiger can you guys update your lists so i can get the latest update from here.Thanks
@ZeroDot1  Thank you !!!!

[2018-02-28 19:21] ZeroDot1 commented on #116
@dnmTX Try it with another DNS server, maybe you can open twitter.
Here is a list of DNS servers: https://github.com/ZeroDot1/Bash_my_little_collection/blob/master/Bash_Tool/readme.md

[2018-02-28 19:26] ZeroDot1 commented on #123
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/620210b13ae1e28f4c7b7aa0d614dfeae45ef1bd

[2018-02-28 19:26] #123 closed

[2018-02-28 19:29] StevenBlack commented on #123
Done!  https://github.com/StevenBlack/hosts/commit/37da299efb31a589e37db092abb805d759b477c3

[2018-03-01 10:51] M5M400 opened #124 "false positive supportxmr.com"
### Description:

https://raw.githubusercontent.com/ZeroDot1/CoinBlockerLists/master/list_browser.txt lists

[code]
It is a legit cryptocoin mining pool, there are no ads on the page and no webmining scripts (I despise this webmining cancer; my pool even has a policy against it).

While I do understand why it has been added, it causes me much additional support effort, since my regular miners sudd

[2018-03-01 13:45] ZeroDot1 commented on #124
@M5M400 There is no way to remove these URLs from the list.
Take a look here: https://github.com/ZeroDot1/CoinBlockerLists/issues/119#issuecomment-368872883
I'm sorry there are many problems with this, but these lists are designed to protect users from cryptojacking and similar attacks.

[2018-03-01 13:45] #124 closed

[2018-03-02 02:33] dnmTX commented on #123
Just following up on this one(due to importance and to spread awareness).GOOGLE main page was affected big times.I was wondering why when i open it my CPU was ramping up to 10%-15% every time,most likely those GIF animations were compromised.After updating my hosts file all went back to normal and no animations as well. @ZeroDot1  GOOD JOB my friend.....GOOD JOB !!!!!
###Example of another victim(

[2018-03-02 04:08] ScriptTiger commented on #123
I use DuckDuckGo.com as my default search engine, and also use their plug-in for Chrome.

[2018-03-02 04:28] dnmTX commented on #123
Thanks @ScriptTiger  i'll give it a shot

[2018-03-02 13:56] ZeroDot1 commented on #123
@dnmTX @ScriptTiger
I am using Google, I have set up this start page in my browser, it is very helpful. The search field has been adjusted so that no entries can be recorded.
If you search through this page, only results in the selected language will be displayed.
https://mikelpint.github.io/Startpage/de.html
The English version of the site is not up to date, but anyone who wants to can contribute

[2018-03-02 14:17] ScriptTiger commented on #123
You should be able to use the same parameters from that project to set up a custom search engine string, as well.

Chrome->Settings->Manage search engines

https://encrypted.google.com/search?ie=UTF-8&oe=UTF-8&lr=lang_en&sitesearch=&q=%s&GButton.x=0&GButton.y=0

Where "%s" expands to your search string that you type into the location bar and is sent to your default search engine.

[2018-03-02 14:25] ZeroDot1 commented on #123
The CSS doesn't work correctly in Firefox.
The source text of the search box:
[code]

[2018-03-02 14:53] ScriptTiger commented on #123
Can you make custom search engines in Firefox? I know there's also startpage.com and they have a Firefox add-on:
https://addons.mozilla.org/en-US/firefox/addon/startpage-https-privacy-search/?src=search

But I personally don't use it, so I can't recommend it.

[2018-03-02 14:56] ZeroDot1 commented on #123
@ScriptTiger Yes, I can make a new project with a customized CSS, so it works fine.

[2018-03-02 15:11] ZeroDot1 commented on #123
@ScriptTiger https://github.com/ZeroDot1/CBStartpage
I invited her to the project. As soon as I can, I'll upload the first version of the page, but it will take some time, because I have to rebuild everything.

[2018-03-02 15:58] ScriptTiger commented on #123
Don't you have write access to the original project?

[2018-03-02 16:37] ZeroDot1 commented on #123
I have write access to the project, but I find it better to write an extra page especially for Firefox users.

[2018-03-02 16:55] ScriptTiger commented on #123
Maybe after the Firefox pages are perfected and tested they can be merged using browser detection to load the browser-specific form with something like jQuery. Then there can just be a "browsers" directory with the different browser form snippets, like browsers/firefox.html, browsers/chrome.html, and they can just be loaded/imported into each language file. It would make managing the languages and

[2018-03-02 20:22] dnmTX commented on #123
@ZeroDot1 any chance to get Startpage with search field ONLY(in the middle) connected to google(the logo is nice) and on english ONLY,same font ,nothing else?

[2018-03-02 20:27] ZeroDot1 commented on #123
@dnmTX I write an extra page for you and host it in a subfolder.

[2018-03-02 20:38] dnmTX commented on #123
@ZeroDot1 thanks man.If it's too much work,leave it for when you can,no rush.

[2018-03-02 20:41] ZeroDot1 commented on #123
@dnmTX The base is already finished, I just have to adjust something, which background color you want to have.
![bildschirmfoto_2018-03-02_21-39-23](https://user-images.githubusercontent.com/28985171/36920885-8203c2ca-1e62-11e8-803d-5002f316ec3a.png)

[2018-03-02 20:43] ZeroDot1 commented on #123
@dnmTX
![bildschirmfoto_2018-03-02_21-43-02](https://user-images.githubusercontent.com/28985171/36920944-baa559e0-1e62-11e8-845e-4ff6ecf41834.png)

[2018-03-02 20:44] dnmTX commented on #123
@ZeroDot1  the grey one(like the original one). Maybe longer search field and smaller logo?

[2018-03-02 20:45] ZeroDot1 commented on #123
No problem, I'll finish it.

[2018-03-02 20:45] dnmTX commented on #123
Wow...you...are...fast

[2018-03-02 20:47] dnmTX commented on #123
Another question,i'm using chromium and have search option in the context menu,is there a way to link it to the same page?

[2018-03-02 20:51] ZeroDot1 commented on #123
@dnmTX I see only 1%, I have to be faster than normal people, otherwise I can't keep up.
I haven't figured out how to set up another default search engine yet.

[2018-03-02 20:54] dnmTX commented on #123
Got it,and again,no rush on that at all,i'm pretty sure you have better things to do.You'll let me know down the road when you figure something for the search engine.Thanks again.

[2018-03-02 21:02] ScriptTiger commented on #123
I think adding default search engines in Firefox requires add-ons. Those packages are pretty small though, so it's definitely something that can be looked into later on after the startpage is perfected.

[2018-03-02 21:08] ZeroDot1 commented on #123
![bildschirmfoto_2018-03-02_22-08-17](https://user-images.githubusercontent.com/28985171/36921890-44d63e56-1e66-11e8-82bc-610b9717c956.png)

[2018-03-02 21:23] ZeroDot1 commented on #123
@dnmTX @ScriptTiger https://zerodot1.github.io/CBStartpage/dnmTX_Page/index.html
The page is ready, please test it.

[2018-03-02 21:40] dnmTX commented on #123
@ZeroDot1  Feedback:  when i search something it showing me german results (!) .Maybe longer search field(with no comments inside...or just Google is fine).You can remove the bottom field(Created by...)...no offense though....i just like as simple as possible.Search field lenght same as the google main page(if possible...of course)
About your main project,i saw you and ScriptTiger were discussing

[2018-03-02 21:45] ZeroDot1 commented on #123
Done : https://github.com/ZeroDot1/CBStartpage/commit/4ad11c2ae3ea29f4d91e56bfc386bd7911c4e084

[2018-03-02 21:56] ZeroDot1 commented on #123
![bildschirmfoto_2018-03-02_22-56-12](https://user-images.githubusercontent.com/28985171/36923887-fff0c322-1e6c-11e8-9b33-10be53448f3c.png)

[2018-03-02 22:01] dnmTX commented on #123
@ZeroDot1  can you change the  placeholder="Web Search with Google"  to  placeholder="Google"  make the search field longer? So far....loving it...
### Example.......Ok something went wrong...this is what i got:
![screenshot 6](https://user-images.githubusercontent.com/34774426/36924072-e4522f14-1e32-11e8-8fe8-85962a83e4cc.png)
...when i click on the page it get's aligned but when i open the page

[2018-03-02 22:07] ZeroDot1 commented on #123
@dnmTX Done.
I hope it's ok if you want to change something else, feel free to do so, because I invited you to the project.
Hm, that's a problem with smaller resolutions.

[2018-03-07 01:17] #121 closed

[2018-03-13 13:20] happysurf opened #125 "CoinBlockerList for browser title"
### Description:

The CoinBlockerList for browser don't have title in Ublock Origin filter list.

### Steps To Reproduce:

1. Load the CoinBlockerList for browser in Ublock Origin;
2. Go to Options > 3rd-party filters tab;
3. In the > Custom filters appear as title the entire link: https://raw.githubusercontent.com/ZeroDot1/CoinBlockerLists/master/list_browser.txt

### Expected Behavior:
Will be g

[2018-03-13 15:54] superlex commented on #125
I agree.
Some information is missing, e.g.:
[code]
Thank you for your list ZeroDot1.

[2018-03-13 17:00] ZeroDot1 commented on #125
@superlex @happysurf With the last update I added an extra list for UBlock.
Please test it and let me know if there is a bug.

https://raw.githubusercontent.com/ZeroDot1/CoinBlockerLists/master/list_browser_UBO.txt

[2018-03-13 17:13] #125 closed

[2018-03-13 17:24] ZeroDot1 commented on #125
![bildschirmfoto_2018-03-13_18-24-31](https://user-images.githubusercontent.com/28985171/37358620-d3241984-26eb-11e8-8b12-f2b9f8debbba.png)

[2018-03-13 17:32] ZeroDot1 commented on #125
@superlex Sorry I deleted your comment, it was a mistake.
I agree.
Some information is missing, e.g.:

! Title:
! Description:
! Version:
! Expires:
! Homepage:
! License:
Thank you for your list ZeroDot1.

[2018-03-13 17:33] happysurf commented on #125
Thank you very much, I want suggest your CoinBlockerList to UBO developer for add in the 3rd-party filters default pack.

[2018-03-13 17:36] ZeroDot1 commented on #125
@happysurf Thank you very much :) That's a good idea.

[2018-03-13 21:32] funilrys opened #126 "[Info] Referencement"
Hello @ZeroDot1 ,

You may have already been informed but as the structure changed I still share the following for archiving.

Because I want to be transparent, I just wanted to inform you that we added `list.txt` to [Ultimate.Hosts.Blacklist](https://github.com/mitchellkrogza/Ultimate.Hosts.Blacklist) through [Ultimate-Hosts-Blacklist/ZeroDot1_CoinBlockerLists](https://github.com/Ultimate-Hosts-B

[2018-03-13 21:38] superlex commented on #125
@ZeroDot1
Thanks for the new specific list :)
I think there is no problem as regards sorting.

[2018-03-13 22:43] ZeroDot1 commented on #126
@funilrys Thank you for the information, and thank you for using the CoinBlockerLists.
I hope this is good stuff for your online security.

[2018-03-13 22:43] #126 closed

[2018-03-13 22:49] dnmTX commented on #126
@ZeroDot1.  @funilrys  is part of  @SevenBlack's team for managing the Unified hosts.Just FYI. 😉

[2018-03-13 22:57] ZeroDot1 commented on #125
@happysurf @superlex https://github.com/gorhill/uBlock/issues/3600

[2018-03-14 14:32] superlex opened #127 "CoinBlockerList for uBlock: possible improvements"
Ok, I want to summarise how ublock specific list could be improved according to #3600:
- use ublock syntax ||domain^ [ gorhill ]
- remove redundant domains (eg. a1.domain and a2.domain with ||domain^) [ gorhill ]
- block specific script instead of full domain [ uBlock-user ]

[2018-03-14 15:46] dnmTX commented on #127
I was wondering this myself how the list would work in adblocker without "||" "^" characters among others. Didn't want to comment on this earlier due to not using uBlock personally but looks like they all share the same characters anyway,@ZeroDot1 you can refer to this repo just get a hint if you planing to do some improvements.
https://github.com/hoshsadiq/adblock-nocoin-list/blob/master/nocoin.t

[2018-03-14 16:36] ZeroDot1 commented on #127
@superlex @dnmTX
I'll take a close look at all this and test it for about two weeks. If anything needs to be changed, I'll do it as soon as I can.

[2018-03-14 17:49] superlex commented on #127
@ZeroDot1
Thank you :)

[2018-03-14 17:54] dnmTX commented on #127
@superlex  meanwhile if you're on Windows you can use HostMan (http://www.abelhadigital.com/hostsman/) and load the @ZeroDot1  list in your hosts file which is the better option as a first line of defense at least for me.

[2018-03-14 20:05] superlex commented on #127
Thanks for your suggestion @dnmTX, take a look of this too:
https://github.com/StevenBlack/hosts
It includes CoinBlocker :)

[2018-03-17 03:49] bluesky139 opened #128 "cryptaloot.pro, a variety of cryptoloot.pro"
I notice cryptoloot.pro is already added in list, please treat cryptaloot.pro as same way.
Full url is `https://cryptaloot.pro/lib/cry.wasm`
Both these domains are redirect to `https://crypto-loot.com/`

[2018-03-17 12:19] ZeroDot1 opened #129 "HostsMan CoinBlockerLists Error!"
@superlex @dnmTX
Is it possible that you test it once, I don't have a Windows computer at the moment to test it myself.
http://zerodot1.pytalhost.org/dl/
It's only a temporary solution.

[2018-03-17 12:50] ZeroDot1 commented on #128
@bluesky139 Thanks for the information, I will add the missing entries as soon as I can.

[2018-03-17 16:23] dnmTX commented on #129
@ZeroDot1  i just tested using this URL: http://zerodot1.pytalhost.org/dl/list_browser.txt  which is the one for the browser and **IT DOES NOT WORK**.It says that connection is established but loads emty hosts file for some reason.The link that you posted won't even establish connection.Not sure where the problem is.
![capture](https://user-images.githubusercontent.com/34774426/37557643-9e2a86b8-2

[2018-03-19 15:47] ZeroDot1 commented on #128
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/ae78e6b67647e1b2b1f7a289dd5eb93a08d5b6ce

[2018-03-19 15:47] #128 closed

[2018-03-19 15:52] ZeroDot1 commented on #127
@dnmTX @superlex OK, I have tested the list for UBO, and I have come to the conclusion that it is sufficient as I have done it. Every user is able to put certain things that the user wants on the white list.

[2018-03-19 15:52] #127 closed

[2018-03-19 16:01] ZeroDot1 commented on #129
@dnmTX
Yes, that's a good idea, but when sorting it gets mixed up again and again and so it's no longer at the beginning of the document as it should be, and it's too time-consuming to re-insert it every time.

[2018-03-19 18:20] dnmTX commented on #127
I was just expressing opinion(not a uBlock user here) as for me as i stated earlier i count more on my hosts file to protect me rather then the adblocker. Still,it's good to have alternatives as i'm sure many uBlock users will appreciate your hard work.

[2018-03-19 18:27] superlex commented on #129
Hi ZeroDot1,
sorry I can't help you with HostsMan, I could with wget and curl if you need.

[2018-03-19 18:28] dnmTX commented on #129
@superlex no worries man,i got it 👍

[2018-03-19 18:30] ZeroDot1 commented on #129
The best solution would be to write a script for Windows and Linux with which you can download the files and insert them into the existing Hosts file without getting duplicates.

[2018-03-19 18:32] ZeroDot1 commented on #129
There is already a solution for Linux: https://github.com/pyamsoft/update-hosts

[2018-03-19 18:34] superlex commented on #127
Ok @ZeroDot1 ,
thanks :)

[2018-03-19 18:37] ZeroDot1 commented on #129
@dnmTX @superlex I am looking for a good solution for Windows, and when I have finished something I will report.

[2018-03-19 18:38] dnmTX commented on #129
Look at the @ScriptTiger's repo.He got something for windows that probably can be modified to fetch from different URL in this case the one i posted earlier.

[2018-03-19 18:41] dnmTX commented on #129
@ZeroDot1 whatever the solution is if those entries are not present and one wants to use it individually it would not be possible with HostMan anyway.Just saying.

[2018-03-19 18:45] ZeroDot1 commented on #129
HostsMan is not a solution, Hostsman is a problem.
I'll write a script for Windows, and then you can test it when it's ready. I can't at the moment because I don't have a computer with Windows to test it myself.

[2018-03-19 18:56] ZeroDot1 commented on #129
@dnmTX @superlex Here is a simple script,m but it does not work correctly yet because the standard entries in the Hosts file are still not available.

[code]

[2018-03-19 19:12] ZeroDot1 commented on #129
@superlex  Do you have an idea how to insert the missing lines at the beginning of the Hosts file?

I think the best solution is to write the missing entries via this script into the Hosts file, but I don't know how to solve this best so that it works.

[2018-03-19 19:46] ZeroDot1 commented on #129
@dnmTX @superlex I uploaded the script here, but I can't confirm if it works as I thought.
https://github.com/ZeroDot1/CoinBlockerLists/blob/master/tools/CBListsDownloader.bat

[2018-03-19 19:54] dnmTX commented on #129
I'll test it later and let you know if any problems.

[2018-03-19 19:54] funilrys commented on #129
Hello there,
Here is what is in the [hosts.windows.template](https://github.com/mitchellkrogza/Ultimate.Hosts.Blacklist/blob/master/templates/hosts.windows.template) we use under [Ultimate.Hosts.Blacklist](https://github.com/mitchellkrogza/Ultimate.Hosts.Blacklist):

[code]

It's minimal but seems to work correctly.

[2018-03-19 19:55] ZeroDot1 commented on #129
@dnmTX Thank you very much.

[2018-03-19 19:56] funilrys commented on #129
Also Ultimate is different but it should be (at least):

[code]

[2018-03-19 19:57] funilrys commented on #129
We did differently for windows as there were some issues with some of the domains which should be used ... (Windows is so strange sometimes ...)

[2018-03-19 20:01] ZeroDot1 commented on #129
@funilrys The only problem I have is to put the default entries with the script in the Hosts file at the beginning of the file.

[2018-03-19 20:02] funilrys commented on #129
May I ask which script are you using?

[2018-03-19 20:03] ZeroDot1 commented on #129
@funilrys  https://github.com/ZeroDot1/CoinBlockerLists/blob/master/tools/CBListsDownloader.bat

[2018-03-19 20:11] funilrys commented on #129
Me either so I can't be helpful ...

[2018-03-19 20:13] ZeroDot1 commented on #129
@funilrys  I think at some point I have the missing parts for the Windows computer together, then I can test it.

[2018-03-20 02:13] superlex commented on #129
@ZeroDot1 ,
you could start from default Windows hosts file, something like this:
`type C:\tmp\hosts >> %WINDIR%\System32\drivers\etc\hosts`
instead of
`COPY C:\tmp\hosts %WINDIR%\System32\drivers\etc\`

_type_ should be equivalent to unix _cat_

[2018-03-20 03:15] ScriptTiger commented on #129
Just for clarification, you are trying to automatically update a hosts file from a given URL and insert the following lines at the top of it but not include duplicates?
[code]

As @dnmTX mentioned, my script does include a mechanism to update the hosts file in place and you can insert custom entries before or after or in between however you want. Right now my script is obviously tailored to work s

[2018-03-20 04:56] ScriptTiger commented on #129
I've started a new Hosts-AutoUpdate repo offline to handle general hosts files. The specs will be as follows:

Hosts_Update.cmd: script
VERSION: version of script
custom.txt: list of custom entries to insert (duplicates ignored) (blacklist)
ignore.txt: list of strings to ignore (whitelist)
sources.txt: list of URLs to download to data directory
data/URL.txt: files to iterate and pull from (duplica

[2018-03-20 06:49] dnmTX commented on #129
Ahhh.....YES.....couple more suggestions if you don't mind(of course).Great idea for the "compressed" format,would request option to specify how many entries per line(right now i'm with 5 entries and it's flying).
Option to remove comments and empty lines(too many of those in the @StevenBlack's list) but without removing the whitelisted entries.
Option to when update to replace the hosts file with

[2018-03-20 07:36] ScriptTiger commented on #129
I've updated my original post above with your additional specs. For the most part my current scripts I use to build my alternate blacklist formats (https://scripttiger.github.io/alts/) already allow for the additional options you've requested, such as removing excess white space, comments, etc. I'm not sure if there would be any reason to give an option of how many domains per line. For now my cur

[2018-03-20 08:54] dnmTX commented on #129
I've tried with 9 in the past,also with 3.In both cases browsing speed didn't change so i settled with 5 and at least for me is faster but this is on individual bases.That's why i ask for a option to choose cause if for me 5 lines is faster for somebody else it might be slower or no change.We talking about Windows here,there is no such a thing "ONE WORKS FOR ALL"
I understand your point of view wh

[2018-03-20 09:03] ScriptTiger commented on #129
No worries, everyone loves options. I'll knock them out one by one and see what you guys think. I've edited my above post again and added a couple more to the list. Once I get some time to work on it a bit more, I'll initialize the public repo with this checklist in the README as the project mission/vision.

[2018-03-20 09:12] ScriptTiger commented on #129
Is there a reason why it would matter if custom entries are inserted at the beginning or ending of a file? It seems a lot of the comments above talk about having the localhost, loopback, and IPV6 stuff all together at the top, but I am not sure if it matters as long as they are all in the file. My current scripts add them last, but they could easily be inserted before or even two different custom

[2018-03-22 02:32] ScriptTiger commented on #129
@ZeroDot1, there were so many comments on this issue I totally neglected to address your root issue, so my apologies. HostsMan's internal HTTP(S) fetcher isn't compatible with the way github.com serves documents because it's not strictly an HTTP(S) web server and has integrations with multiple other protocols with dynamic forwarders, redirectors, and virtual directories that confuse some fetchers.

[2018-03-22 11:54] ZeroDot1 commented on #129
@ScriptTiger I have removed the `http://zerodot1.pytalhost.org/dl/` mirror a test showed me that the links you inserted for me work everywhere. Thank you for your work.

The HostsMan problem is solved.

However, I think it is good if there is a simple script with which you can install and update the hosts files under Windows without any additional software like wget.
Using additional software like

[2018-03-22 11:54] #129 closed

[2018-03-22 12:47] ScriptTiger commented on #129
I have actually dropped wget from all of my projects, so there is now only a single script using only the standard built-in Windows utilities and several configuration files, like the ignore list, custom list, etc. I will also implement an INI file in the new manager since it will have quite a bit more settings and there's no need for users to go through a full setup every time. Feel free to check

[2018-03-22 12:53] ZeroDot1 commented on #129
@ScriptTiger In the next days I will download Windows and test it in a VM.
Your script looks very good.

[2018-04-02 01:23] devsnek opened #132 "gus.host is not a coin mining website"
Hi,

My personal domain (gus.host) has found its way onto a number of hostname block lists. none of the domains (gus.host/www.gus.host/google.gus.host/s.gus.host) actually have any coin miners so please remove them.

thanks,
-gus

[2018-04-02 01:46] dnmTX commented on #132
......and the rest of the domains(websites) on **THAT** list are MINE and MINE ONLY!!!!! And i can guarantee,swear,sign whatever you want me to sign that there is not a single MINER in them so...@ZeroDot1 destroy your fraudulent list and JOIN ME in my quest advocating for destroying the remaining useless lists!!!!!!
@devsnek  do you approve my statement bud????????

[2018-04-02 10:56] ZeroDot1 commented on #132
@devsnek I didn't know I walked around with tomatoes on my eyes. Sorry, I can't remove your site because I found miner and or other malware.
I recommend that you check your site for malware and remove it.
If you are not able to do this yourself, contact experts who can.
Pages like Virus Total show me warnings when I scan your page.
As long as this is the case, the page will stay on the list.
Examp

[2018-04-02 12:47] devsnek commented on #132
@zerodot1 if you could spare 15 seconds of your precious time you could go to my site and see it's a static html page with a link to my github and twitter. it contains no JavaScript except for a console.log. I can say with 100% certainty that my site contains no malware, it's a github pages bucket. feel free to check out my github and see that I'm not exactly a random not trustworthy person. there

[2018-04-02 15:16] ZeroDot1 commented on #132
@devsnek I'm going to look into it.

[2018-04-02 15:38] ZeroDot1 commented on #132
@devsnek I apologize for the inconvenience, I have checked everything, the site is clean, so I will remove it from the list, should there be back miner on the site it will be added again.
With the next update this will be done.

[2018-04-02 15:43] ZeroDot1 commented on #132
URLS REMOVE:
[code]

[2018-04-02 16:07] ZeroDot1 commented on #132
@devsnek
Your site is now on the white list, about a small donation to support the CoinBlockerLists I would be very happy.
https://www.amazon.de/hz/wishlist/ls/2DDEDPJU2996I?filter=unpurchased&language=en_GB&sort=price-asc&type=wishlist

I apologize again for the inconvenience.
Take a look at the changes here:
https://github.com/ZeroDot1/CoinBlockerLists/commit/9c150d70703f8f36d6b6f805f5f2e8947407

[2018-04-02 16:07] #132 closed

[2018-04-02 16:43] devsnek commented on #132
@ZeroDot1 thank you 👍

[2018-04-06 13:54] An-dz opened #133 "Wrong url included?"
### Description:

I noticed that `goodolddownloads.com` is listed here and this seems wrong. The front page doesn't even have JavaScript. And I don't see any spike in CPU.

### Log Files and Pages Source code:

[Front page HTML](https://privatebin.net/?7f7c10f6d7323112#ZD27j4g2n5Ji6R3GoTm4himbfplldeXw/jjjODqplsE=)

[Scene page HTML](https://privatebin.net/?87a5199e3df73b73#5Awr9jXVk3AuPci4s0kR8g44

[2018-04-08 19:49] ZeroDot1 commented on #133
@An-dz I'll check as soon as I can.

[2018-04-11 11:41] ZeroDot1 commented on #133
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/728181d4e2b2510da5ae674efe8861c4d643723e

[2018-04-11 11:41] #133 closed

[2018-04-11 15:57] An-dz opened #134 "Ad company that uses cryptominers"
### Description:

I've found a Brazilian ad network that employs cryptominers with their ads.

### Steps To Reproduce:

1. Open the site https://www.naointendo.com.br/ on a Windows machine with Windows Defender. (like Windows 10)
2. Windows Defender shows up saying it blocked a cryptominer
3. Or you can just notice the spike in CPU in another OS

### Log Files and Pages Source code:

Inside the he

[2018-04-11 18:26] ZeroDot1 commented on #134
A list of all SubURLs I could find.
[code]

[2018-04-11 18:31] An-dz commented on #134
Thanks for the quick reply. I just want to help others not fall for those.

[2018-04-11 18:44] ZeroDot1 commented on #134
The update is ready, it will be uploaded at 00:01 o'clock.

[2018-04-11 22:02] ZeroDot1 commented on #134
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/9e37d9ce74ca6aa9581d01d8110cd1cdc5e74146

[2018-04-11 22:02] #134 closed

[2018-04-15 08:02] shdyy opened #135 "Invalid hosts"
- Remove kickass.cd
uses mine.torrent.pw

- Remove estream.to
uses m1.streaming.estream.to m2.streaming.estream.to

I will add here if I find more

[2018-04-15 08:59] shdyy commented on #135
I'm not convinced these are miner hosts themselves, which I noticed on Anti-WebMiner and also included here. I'm sure there are many more

2giga.dowload (which has a typo)
2giga.link

rapidvideo.com

safelinkconverter.com

shrink-service.it

vidfile.net

vidzi.tv

[2018-04-15 10:11] shdyy commented on #135
Update: estream.to now also use

play.video.estream.nu

s2.video.estream.nu
s3.video.estream.nu

[2018-04-15 10:59] ZeroDot1 commented on #135
@shdyy Thank you for your contributions, I'll take a close look and I' ll make an update as soon as possible.

[2018-04-15 11:06] shdyy commented on #135
Some software may not support it, but you can alternatively use 0 instead of 0.0.0.0 to make the files smaller

hosts file becomes 148 KB -> 116 KB

You can also stack 9 hosts for each line on Windows which will make it even smaller but harder to read

116 KB -> 102 KB

I think you can at least separately provide such files if you can't change the main ones. It may provide better performance, lowe

[2018-04-15 11:24] ZeroDot1 commented on #135
`shrink-service.it` https://www.virustotal.com/de/file/596930e7b0072e6304fc71a5d40f99479b80a1b10aca504cc6a9d4931bba69f2/analysis/ https://www.virustotal.com/de/domain/shrink-service.it/information/

[2018-04-15 11:38] shdyy commented on #135
I haven't checked the addresses in my third comment, only that they provide some service which may be using or have used a miner on top.

So does shrink-service.it use a different host for the miner which can be blocked easily or is it on the same host?

Have you considered making a distinction between pure miner hosts and others which provide a service such as file download, video streaming, link

[2018-04-15 11:46] ZeroDot1 commented on #135
Yes, I am aware that it is possible to make the files smaller, but then they cannot be managed as easily anymore, and it is also not as good because of my visual impairment, so I keep it as simple as possible.
I'm currently working on a bug fix update, your contributions are very helpful.
The Tor2Web sites are listed because malware is very often spread over these sites, and miners have already be

[2018-04-15 11:54] shdyy commented on #135
Blocking Tor2Web would be like blocking all .com domains. I don't think there are too many miner addresses on Tor so it should be easy to block them individually just like any other hosts. You can't block them by blocking the main domain of a Tor2Web service. They are reached over subdomains, so that's the only way to block them.

[2018-04-15 11:58] shdyy commented on #135
In my opinion you should try to strictly block only the miner hosts.

Assume that google started mining on their pages and you could block it by adding miner.google.com

Would you block google.com too or would you go for the miner instead?

You should use the same logic if possible

[2018-04-15 12:02] ZeroDot1 commented on #135
Yes that's right, I'll remove the domains in one of the next updates.
I would always just block the Miner all other does make not sense.

[2018-04-15 12:05] shdyy commented on #135
Good to hear.

Another example is goodolddownloads.com

In the past they used mining as a donation method. You were not forced into it, it was voluntary so there was no reason to block it.

[2018-04-15 12:10] ZeroDot1 commented on #135
Yes, I have also removed the domain from the lists.
See: https://github.com/ZeroDot1/CoinBlockerLists/issues/133

[2018-04-15 12:12] shdyy commented on #135
Yes, I saw that.

fitgirl also has donation by mining so it should not be blocked in future

http://fitgirl-repacks.site/donate-by-mining/

[2018-04-15 12:16] ZeroDot1 commented on #135
Yes, I can put the domain on the white list, if there is a subdomain for mining only the subdomain is put on the list.

[2018-04-15 12:26] ZeroDot1 commented on #135
Done with the next update.
https://raw.githubusercontent.com/ZeroDot1/CoinBlockerLists/master/white_list.txt
![bildschirmfoto_2018-04-15_14-24-48](https://user-images.githubusercontent.com/28985171/38778355-db2b13bc-40b8-11e8-997d-9d205a6a56d9.png)

[2018-04-15 12:28] shdyy commented on #135
What does the white list do? This address isn't in the blacklist currently, I just said it shouldn't be added in the future since it only works voluntarily

[2018-04-15 12:28] ZeroDot1 commented on #135
https://github.com/ZeroDot1/CoinBlockerLists/issues/135#issuecomment-381391103
List of subdomains:
[code]

[2018-04-15 12:32] shdyy commented on #135
Do you check for only subdomains? I find the miners by checking my DNS logs after visiting the page, and many miners are on external addresses

[2018-04-15 12:35] ZeroDot1 commented on #135
The white list is an additional list to easily add pages to the white list that are mistakenly blacklisted, the white list also contains hosts that by default belong to the white list like the domain in your example.
I'll check every subdmain separately to be sure.
Of course this only works if I collect a list of all known subdomains.

[2018-04-15 12:50] ZeroDot1 commented on #135
One update is done, with the next update I will add the new URLs.
See: https://github.com/ZeroDot1/CoinBlockerLists/commit/54972454d003fcc8fecf73e5d3780792c2757aa7

[2018-04-15 12:51] shdyy commented on #135
I was wondering, do you strictly try to block the host of the script itself?

For example play.video.estream.nu contains the script but if you block these two addresses, the mining is still blocked:

s2.video.estream.nu
s3.video.estream.nu

Similarly video.streaming.estream.to contains the script, but blocking these addresses blocks the mining:

m1.streaming.estream.to
m2.streaming.estream.to

In

[2018-04-15 13:00] ZeroDot1 commented on #135
I divide it into different updates, as it is better to edit.
It's not so easy for me because of my visual impairment.
I hope it's not too bad that I'm doing this a little bit differently.
I just want to try to block the subdomains with mining scripts if possible, for some it doesn't work, for example: safelinkconverter.com
I don't use these streaming sites, but if I notice something, or I get a hi

[2018-04-15 13:11] ZeroDot1 commented on #135
Here is the list of mining hosts for the next update, I checked them all.
[code]

[2018-04-15 13:31] ZeroDot1 commented on #135
Yes, I will remove the main pages and add the missing ones.
Most of them are actually already in the list, I always check the list for duplicate entries, so there are no mistakes with duplicates.

[2018-04-15 13:35] shdyy commented on #135
oload.info another one to reconsider

[2018-04-15 13:39] ZeroDot1 commented on #135
I see the following subdomains:
www.oload.info
tt1.oload.info
tt2.oload.info

[2018-04-15 13:51] shdyy commented on #135
I think it is part of openload.co which is a very popular service. My guess is that one of the ads-popups contained miner in the past

[2018-04-15 13:56] shdyy commented on #135
urlscan result references CoinBlockerLists so it is not useful :)

[2018-04-15 13:57] ZeroDot1 commented on #135
Yes, there is no miner available anymore, I will remove it with the next update.

[2018-04-15 14:11] ZeroDot1 commented on #135
Domains that will be removed with the next update:

[code]

[2018-04-15 14:15] shdyy commented on #135
I don't know who the original source of these addresses is but many if not most of Anti-WebMiner hosts are not miners but content/service providers. So I recommend checking their list completely and removing non-miner hosts and add the miners if any are found. Some examples from looking around hosts starting with k*

kinohabr.net
kissdoujin.com (18+)
kisshentai.net (18+)
kiwifarms.net
joyreactor.c

[2018-04-15 14:38] shdyy commented on #135
You can find many different video hosts here which you can use to test the blacklist or discover new miners

http://putlockers.fm/watch/dKo5mo4d-the-walking-dead-season-8/episode-15.html

[2018-04-15 14:54] ZeroDot1 commented on #135
The second update is finished: https://github.com/ZeroDot1/CoinBlockerLists/commit/219613d371ae5fe4ac24ade9dc27125bde84e389
The next update will remove more False Positive URLs, but it will take some time to finish.

[2018-04-15 15:01] ZeroDot1 commented on #135
OK, I'll take a closer look, and with the next updates I'll add some things, today comes the removal of the false positives and then I have to take a break, it's not so good when I work on the computer for so long.
At the moment I don't have reading glasses, and I have to work with the screen magnifier, which is very stressful for me.
Tomorrow we'll continue, I hope that's okay.
But now I'll compl

[2018-04-15 15:57] ZeroDot1 commented on #135
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/31983d017cb8cdd264eb8c5978b142ac511f2838

[2018-04-15 16:10] shdyy commented on #135
If I understand correctly NoCoin list is only blocking the scripts from addresses like gus.host 2giga.link shrink-service.it, not entire hosts

That would be the best way to go if you can't block the miner separately from the service.

I don't know if they block the miner script on streamplay.to, maybe you can add that one to UBO list?

[2018-04-15 16:25] ZeroDot1 commented on #135
The mining hosts of streamplay.to are already in the UBO list.
[code]

[2018-04-15 16:30] ZeroDot1 commented on #135
gus.host contains no Miner: https://github.com/ZeroDot1/CoinBlockerLists/issues/132

[2018-04-15 16:38] shdyy commented on #135
I know, it probably blocks the mining but it doesn't stop the CPU usage

[2018-04-15 16:52] ZeroDot1 commented on #135
I checked it, I couldn't see anything except the standard load of my CPU, see the screenshot.
![bildschirmfoto_2018-04-15_18-44-59](https://user-images.githubusercontent.com/28985171/38780880-92361150-40dd-11e8-8edb-2d1eb129c3ba.png)

[2018-04-15 16:56] shdyy commented on #135
it happens on the video watching screen and CPU usage isn't always high, it perodically goes maximum then zero while querying mining servers in the background every few seconds

[2018-04-15 17:08] ZeroDot1 commented on #135
OK, here's an example page, with source code, but I'll check it tomorrow.   https://hastebin.com/agujijimax.xml
https://streamplay.to/0at43i8jp9h8

[2018-04-15 18:12] shdyy commented on #135
I think you could merge useful filters from these sources:

https://github.com/uBlockOrigin/uAssets/blob/master/filters/resource-abuse.txt
https://github.com/hoshsadiq/adblock-nocoin-list

But neither of them have a filter for streamplay.to yet

[2018-04-16 18:55] #135 closed

[2018-04-22 20:17] ZeroDot1 opened #136 "Creating a new homepage"
The page generated automatically by Github is not good enough, you can't place enough information there. Therefore a new homepage will be created.
All of them are written completely by hand.

[2018-04-22 20:25] ZeroDot1 commented on #136
https://zerodot1.github.io/CoinBlockerListsWeb/

[2018-04-23 13:25] kar opened #137 "Why is *.bitfinex.com listed?"
I can see several *.bitfinex.com entries in the list. It's just an exchange, why is it listed?

[2018-04-23 20:13] ZeroDot1 commented on #137
A future update will move the page to the optional list.

[2018-04-25 02:14] ZeroDot1 commented on #136
Most of it is finished.
https://zerodot1.github.io/CoinBlockerListsWeb/downloads.html
https://zerodot1.github.io/CoinBlockerListsWeb/aboutthisproject.html

[2018-04-25 02:30] dnmTX commented on #136
Mine too...(15" Laptop) 😄

[2018-04-25 13:09] ZeroDot1 commented on #136
@dnmTX Can you check again to see if it's better now, I changed it.
https://zerodot1.github.io/CoinBlockerListsWeb/aboutthisproject.html

[2018-04-25 16:17] dnmTX commented on #136
@ZeroDot1  still the same here,i can post screenshot if you want so you can see.

[2018-04-25 16:51] ZeroDot1 commented on #136
@dnmTX Can you take a sceenshot, that would very helpful for me to solve the problem.

[2018-04-25 17:10] dnmTX commented on #136
@ZeroDot1  here you go.....
![coinblockerlists](https://user-images.githubusercontent.com/34774426/39261312-b2bbcafe-4881-11e8-88f0-8998465a62c4.png)

[2018-04-25 17:39] ZeroDot1 commented on #136
@dnmTX OK, it looks perfect, the table automatically adjusts the width to the contents of the table when you set the width, e.g. 800px the width of the table is not automatically adjusted anymore, so I changed the table to auto so that the table adapts to your screen width and not to the container.

[2018-04-26 02:51] ZeroDot1 commented on #136
@dnmTX Yes, I work mostly with Linux, because it is safer, and also the screen magnifier I need works very good.
This is what it looks like on my computer screen.
Sorry, the picture is not so good, the monitor is very old, and I have repaired it several times.
![bildschirmfoto_2018-04-26_04-46-31](https://user-images.githubusercontent.com/28985171/39283096-d818e0a8-490c-11e8-82e4-05ef3820fd81.png)

[2018-04-26 04:08] dnmTX commented on #136
@ZeroDot1  on mine still looks the same as the screenshot i send you,no big deal for me,i can scroll down if i need to,i just want it you to know how it looks......Now....about the Linux,i just need your expertise due to i just made my first steps into it....up front apologize for the long post......
This is the deal....i want it to use something better then the Windows DNS crappy service so i loa

[2018-04-26 04:09] dnmTX commented on #136
#test

[2018-04-26 13:29] ZeroDot1 commented on #136
@dnmTX The script is OK so I would only make small changes to make it more fail-safe.
[code]
‘--no-check-certificate’
Don’t check the server certificate against the available certificate authorities. Also don’t require the URL host name to match the common name presented by the certificate.

As of Wget 1.10, the default is to verify the server’s certificate against the recognized certificate autho

[2018-04-26 17:37] dnmTX commented on #136
@ZeroDot1  thanks for taking the time to examining it and the suggestions,i feel better now when there is a approval from more experienced in that field.Let me give you my thoughts also:
1. Not sure that the "fail-safe" is really necessary here due to the links i'm using are from reputable github.com sources but i'll probably include the "--referer" part just in case.About the "--no-check-certific

[2018-04-26 19:18] ZeroDot1 commented on #136
@dnmTX No problem, here's an better exit code.
This should work much better than using only `exit 0`.

[code]

[2018-04-26 22:24] ZeroDot1 commented on #136
The homepage now also has Twitter Cards.
![bildschirmfoto_2018-04-26_23-09-58](https://user-images.githubusercontent.com/28985171/39334981-5e92d004-49b1-11e8-90b5-3f8865e3f306.png)

[2018-04-27 12:48] ZeroDot1 commented on #136
@dnmTX https://www.youtube.com/watch?v=hDQrSxud83k take a look at the video.

[2018-04-27 18:33] ZeroDot1 commented on #136
@Thank you, yes, you're right, I'll remove some things from the list.

[2018-04-27 19:13] dnmTX commented on #136
@ZeroDot1 the sooner the better.I already posted it, encouraging for donations #592. Also the list is so long that when you open the page is loading like 5 min.Just FYI.

[2018-04-27 21:10] dnmTX commented on #136
So many DVD's there.Can't you just download those movies from the net somewhere???...it's 2018 for heaven's sake. 😄

[2018-04-27 21:42] ZeroDot1 commented on #136
My internet connection is very slow, Netflix and other services don't work, and would be too expensive for me.
But I just deleted more DVDs from the list, there are only a handful left on the list.

[2018-04-27 23:40] dnmTX commented on #136
Ahh...ok....sorry,didn't mean to be a-hole about it.No excuse for my stupid questions though.Will refrain from expressing opinion in the future about things that i don't know nothing about.(deleting my previous post out of respect....sorry again)

[2018-04-28 01:35] ZeroDot1 commented on #136
No problem, it's impossible to know everything.

[2018-04-29 01:27] ZeroDot1 commented on #136
@dnmTX I added a donation popup to the download page, what's your opinion, is that a good idea or not?
Or do I have to change something to make it better?
https://zerodot1.github.io/CoinBlockerListsWeb/downloads.html

[2018-04-29 01:51] dnmTX commented on #136
@ZeroDot1  i think it's too aggressive (it's like you telling everyone that they have to donate).I've seen in some web pages popup is sliding up from the bottom of the page for certain seconds and then sliding down(it would be more appropriate),not sure that you can make it work though.Or simply make something on the left side like....here example just to give you an idea:
![coinblockerlists](http

[2018-04-29 19:27] ZeroDot1 commented on #136
@dnmTX Your example is very good, I will change that right now, you are right it is too aggressive.
Sorry to answer so late, I was looking for a used monitor the whole day. My monitor is flickering again, unfortunately I haven't found anything suitable that I can buy, on Ebay a lot of crap is offered.

[2018-04-29 19:56] ZeroDot1 commented on #136
Done! :
![screenshot-2018-4-29 coinblockerlists - downloads - simple lists that can help to prevent illegal mining in the browser or](https://user-images.githubusercontent.com/28985171/39410407-feacddc6-4bf7-11e8-82d4-69646002d5d5.png)

[2018-04-29 22:03] dnmTX commented on #136
@ZeroDot1  the list looks much better(if there is a way to sort the tech/computer related items to be on the top will be even better), and yeah,at one point i was thinking to tell you to look for better deals giving the fact that it's Amazon and there is always deals there cause some(non brand) items were  kind of expensive and even for making donation still didn't worth to spend so much on them.S

[2018-04-29 23:08] ZeroDot1 commented on #136
I will add some additional comments to the different things on the list to make it a bit better.
I am nearly done with the homepage, only some links on the start page are missing, then the page is finished.

You don't have to donate again, you have already helped me a lot, Since I have the cooler for the computer I can work much better, because the computer doesn't make as much noise as before, I

[2018-04-30 20:47] ZeroDot1 commented on #136
@dnmTX The homepage is ready, I close the issue.
If you find a bug or have a suggestion for improvement, don't hesitate to write me so I can fix possible bugs as soon as possible.

[2018-04-30 20:47] #136 closed

[2018-05-03 19:54] ZeroDot1 commented on #136
@dnmTX I cannot release updates for the CoinBlockerLists at the moment, My computer had a hard disk crash.

[2018-05-06 18:49] ZeroDot1 opened #138 "Add Amazon Ads"
Since there are very few donations now I decided to include Amazon advertising in the site.

@dnmTX What do you think it is so OK, or do I have to change something?
https://zerodot1.github.io/CoinBlockerListsWeb/

[2018-05-06 19:15] dnmTX commented on #138
@ZeroDot1  sorry to hear about your hard drive problems,looks like you are up and running again so i'll assume that you worked things out(let me know if i can help with anything).About the site,that blue-ish font is hard to read,not sure what was before but it was better for reading.I don't see any advertisement at the moment,they're either blocked by the hosts file or my adblocker but hey it's yo

[2018-05-06 19:29] ZeroDot1 commented on #138
I changed the link color back to green.
The links only turn blue if they point with the cursor on them, so you can see better which link you just clicking.

[2018-05-20 03:09] funilrys opened #139 "[Dead-Hosts] INVALID domains"
Hello @ZeroDot1,

First, I just wanted to inform you that your list has been added to [Dead-Hosts](https://github.com/dead-hosts) for daily testing through [CoinBlockersLists_git_ZeroDot1](https://github.com/dead-hosts/CoinBlockersLists_git_ZeroDot1).

I sent you an invitation for joining the organization. You're not obliged to accept, I just sent you the invitation as I do consider the previously

[2018-05-20 15:41] ZeroDot1 commented on #139
@funilrys Thank you for reporting problems with the invalid hosts, I fixed them with the following update: https://github.com/ZeroDot1/CoinBlockerLists/commit/208556f01d5b968ca0c1a2a85bf857d5516556b3

[2018-05-20 15:54] ZeroDot1 commented on #138
@dnmTX I got a new hard drive, now I can work better again. Through the advertising on the CoinBlockerLists homepage I have not yet made any income.

[2018-05-20 15:54] #138 closed

[2018-05-20 16:02] ZeroDot1 commented on #137
@kar Sorry I haven't worked on the problem yet, I'll do it now. Unfortunately I did not have the possibility to do this due to a broken hard disk.

[2018-05-20 16:15] ZeroDot1 commented on #137
List of URLs:
[code]

[2018-05-22 18:39] ZeroDot1 commented on #137
@kar Sorry it took a little longer, the update is now ready.
Done! : https://github.com/ZeroDot1/CoinBlockerLists/commit/cf074254e4b463c5726e40529d74b176cf103e34

[2018-05-22 18:39] #137 closed

[2018-05-28 20:56] ZeroDot1 commented on #139
@funilrys Is it possible that you can let me know when you find new invalid URLs?

[2018-05-29 11:30] funilrys commented on #139
Hi @ZeroDot1 will do!

P.S: If https://github.com/dead-hosts/CoinBlockersLists_git_ZeroDot1/blob/master/output/domains/INVALID/list return 404 then there is no new invalid domains. Will change your repo to run tests everyday but be aware of the generation date (for example [here](https://github.com/dead-hosts/CoinBlockersLists_git_ZeroDot1/blob/2b76dc3001276f8435df3457eb12e90a431555d0/output/domai

[2018-05-29 11:56] ZeroDot1 commented on #139
@funilrys Thank you very much.

[2018-05-29 11:56] #139 closed

[2018-06-04 19:23] ZeroDot1 opened #140 "Move to Gitlab!"
Since github is now going to Microsoft, I will move to Gitlab in the near future.
I don't like Microsoft very much, and if Github belongs to Microsoft I can't be sure if and how long Github will still exist.
Github is actually a great platform, but I don't want to take the step to Microsoft.

https://about.gitlab.com/2018/06/03/movingtogitlab/

[2018-06-04 19:41] dnmTX commented on #140
@StevenBlack can i hear your thoughts on the subject and plans for the feature,i would really like to have  the @ZeroDot1 's lists integrated to yours instead of fetching it separately.Thanks.

[2018-06-04 19:43] Marfjeh commented on #140
I have no idea what they are going to with github. They killed their own github site few months ago. (i forgot the name) but its probably going to end up like skype.

i already switched to gitlab.

[2018-06-04 19:48] ZeroDot1 commented on #140
I'm still in the process of switching to Gitlab, at the moment there are some problems, e.g. the imports hang in an endless loop.

[2018-06-04 19:48] Marfjeh commented on #140
Currently the imports are having a massive hit from users switching to gitlab. its going to take a while. even my repos are still importing.

[2018-06-04 19:53] ZeroDot1 commented on #140
I can already access the files and edit and update them, but the rest of Gitlab is not working yet.
I think in a few hours at the latest in a few days it will surely work again completely.

[2018-06-04 19:56] dnmTX commented on #140
@ZeroDot1  please update us on the progress(new URL's etc.) and if you can inform everyone that uses your lists.Thanks bud. 👍

[2018-06-04 20:00] ZeroDot1 commented on #140
@dnmTX I think it won't be a problem to change a URL as soon as the move is finished, but I can't say at the moment if everything works the way I want it to.

I'll let everyone know about the changes as soon as it's done.

[2018-06-04 20:12] ZeroDot1 commented on #140
For all users of GithubDesktop I recommend the use of GitKraken.
https://www.gitkraken.com/git-client

[2018-06-04 20:19] dnmTX commented on #140
@ZeroDot1  on another note,i saw that AdGuard added you(i'm using AdGuard myself) and i have this(https://github.com/hoshsadiq/adblock-nocoin-list/) filter there(just in case).In your opinion,now that i'm using your hosts lists,do i need to keep that filter,does it have something that your lists doesn't? I'm just trying to lighten up where i can.

[2018-06-04 20:24] StevenBlack commented on #140
@dnmTX the repo is already there:  https://gitlab.com/StevenBlack/hosts

It's in mirror mode, for now.  We'll see.

I will move all my private work to Gitlab shortly.  I'm a subscriber 😄

[2018-06-04 20:33] dnmTX commented on #140
@StevenBlack  i'd expect if you move the whole repo there and seize operations here to let us know.Thank you 👍
@ZeroDot1  i'm using your browser based lists(on my router's dnsmasq),AdGuard is the whole program not the extension only,basically what you saying is that your browser based list is enough no need for additional one wright?

[2018-06-04 20:39] ZeroDot1 commented on #140
@dnmTX I recommend the following list, as it contains the most URLs, and provides the best protection:
Lists: https://zerodot1.github.io/CoinBlockerLists/list.txt
Hosts: https://zerodot1.github.io/CoinBlockerLists/hosts

All other lists are not necessary.

[2018-06-04 20:43] dnmTX commented on #140
@ZeroDot1  it's whatever @StevenBlack is fetching from you,cause i'm using his lists(better and stronger protection this way),assuming it's the browser based one.Any recommendations needs to go to him.

[2018-06-04 20:49] StevenBlack commented on #140
@ZeroDot1 @dnmTX for interest sake, I was watching this preparing to pop some (virtual) champagne here at the office because of the 9,500-star milestone.

Yesterday this stood at 9,493.  It's 9,479 now.  And since yesterday, my feed reports about 10 new stars.  So total drop is 24, or 0.2%.

![2018-06-04_16-40-45](https://user-images.githubusercontent.com/80144/40940899-382122a2-6817-11e8-9e2f-e73

[2018-06-04 20:53] StevenBlack commented on #140
@ZeroDot1 @dnmTX also, 0.2% of $7.5 billion is $15 million.  So at the outset Github is shedding maybe $30 million per day right now.

But this is all suspect math based on a small sample from a reasonable pool (9,500 users).

[2018-06-04 20:56] dnmTX commented on #140
@StevenBlack  it's a sinking ship,whatever Microsoft touches turns into dust....eventually.You guys just keep up with the updates on how the moving goes.....please.

[2018-06-04 21:03] ZeroDot1 commented on #140
![bildschirmfoto vom 2018-06-04 23-02-25](https://user-images.githubusercontent.com/28985171/40941544-6f6acb6c-684b-11e8-9b71-b172f935c32d.png)

[2018-06-04 21:11] ZeroDot1 commented on #140
https://zerodot1.gitlab.io/CoinBlockerListsWeb/index.html The homepage is online :)

[2018-06-04 21:31] ZeroDot1 commented on #140
https://gitlab.com/gitlab-com/infrastructure/issues/4314

[2018-06-04 21:39] dnmTX commented on #140
@StevenBlack is it possible(on your end) when all the hosts lists are arranged into one a line to be inserted at the beginning and the end of each individual lists.For example:
**# KADhosts Start**
domain.com
domain.com
domain.com
**# KADhosts End**
It would really help me remove things that i don't need(as we discussed yesterday with you),i managed to do it now but if you change the arrangement i

[2018-06-04 21:51] #6 closed

[2018-06-04 22:39] ZeroDot1 commented on #140
The files are now all online, but the import is not yet complete, it is still in the endless loop. I'll start updating as soon as possible.
I will publish as soon as everything is updated a list with all new URLs.

[2018-06-05 16:42] dnmTX opened #141 "[blocked] streamplay.me|streamplay.to"
@ZeroDot1  it's a site hosting video files....mostly,i'm using it sometimes to stream some tv shows or whatever.If there is a miner there i think it's better to look deeper and  find it instead of blocking the entire domain.Let me hear your thoughts brother.

P.S. Don't whitelist it unless you sure though.

[2018-06-05 23:53] ZeroDot1 commented on #140
The move is finished, check out the following link there you can find all important URLs.
https://gitlab.com/ZeroDot1/CoinBlockerLists/issues/1

[2018-06-05 23:55] ZeroDot1 commented on #141
@dnmTX Please open a new report: https://gitlab.com/ZeroDot1/CoinBlockerLists/issues/new

[2018-06-05 23:55] #141 closed

[2018-06-06 18:34] #140 closed